[2017-11-11 02:04] greenkeeper[bot] opened #2 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI status on th

[2017-11-30 00:55] #2 closed

[2018-02-21 19:47] nieldlr opened #9 "Creating the possibility to use a specific contract address"
Heya team,

love this! I coded up a very similar layer for my dapp services.

I'd love to give this a try, but my workflow works a bit differently than the usual truffle setup. I use Truffle to code & test, but sometimes deploy the contract by hand (not through truffle migrate) and also, I use contract factories to deploy copies of the contract for other users. Meaning, that I end up with addresse

[2018-02-22 01:19] sprice opened #10 "Handling Metamask's lack of websocket support/Web3 1.0"
First of all. This looks super amazing! Thank you!

Using this with Metamask results in `Error: The current provider doesn't support subscriptions: MetamaskInpageProvider` [metamask-extension/2601](https://github.com/MetaMask/metamask-extension/issues/2601) & [metamask-extension/2350](https://github.com/MetaMask/metamask-extension/issues/2350)

Does this mean that the subscription parts of Drizzle

[2018-02-22 03:32] jvventura opened #11 "Can't easily integrate into an existing application that uses Redux?"
Firstly, thanks for starting this project! Very serendipitous as I was able to start writing a state manager for my React+Redux app for managing web3 and contract calls.

Onto the serious stuff. Redux best practices (according to their repo) says that you should only have one store for your app. If my Redux store is already instantiated with createStore(), I do not believe there is a way to easily

[2018-02-22 10:41] andytudhope commented on #10
Same error as above for me 👍

[2018-02-23 23:26] adklempner opened #12 "Dynamically setting a contract's address"
Drizzle receives all contract information (including the address for instantiating the contract object) from the artifact JSON files compiled by Truffle.
In the `drizzle-box` example, these objects are passed to `DrizzleProvider`, the highest order component  in the entire application.
I'd like to build an application that sets these contract addresses dynamically. Is this currently possible with

[2018-02-23 23:54] adklempner commented on #9
Oops, just now seeing this issue after opening mine.

@nieldlr do you want to share ideas of how we could implement this?

I'm wondering if implementing Drizzle as a regular Redux component instead of a provider might make more sense.

[2018-02-23 23:55] adklempner commented on #12
Duplicate of #9

[2018-02-23 23:55] #12 closed

[2018-02-25 17:37] claykohut commented on #11
I'm interested in the same thing

[2018-02-27 05:59] nieldlr commented on #9
Heya @adklempner,

I haven't quite given it an exact thought yet. Just currently on a break this week. Will wrap back round early next week with some ideas 👍

[2018-02-27 16:30] tothemoonguru commented on #11
The interface is very limited. Exporting middlewares, reducers & sagas would allow integrating this into existing stores easily.

[2018-02-28 12:44] Coolpix commented on #10
Same for me!

[2018-02-28 16:05] apanizo commented on #10
The same result using the same environment!

And... congrats! The project looks amazing!

[2018-02-28 16:29] apanizo commented on #10
Sorry! My bad, after reading [this](https://github.com/trufflesuite/ganache-cli/issues/257) and [this](https://github.com/trufflesuite/ganache-core/pull/49), I realised I just needed to update my **ganache-cli** version.

Thanks!

[2018-02-28 20:14] sprice commented on #10
Ah. I'm using the Ganache App (1.0.2). I guess I need to switch over to the CLI and wait for the app to be updated. Thanks.

I'm going to test this out tonight to be sure and then likely close the issue.

[2018-02-28 20:47] apanizo commented on #10
Oh sorry, I just tried to say the ws problem, which only happens if you disable Metamask, was solved after updating the ganache-cli to the beta version, but the error you reported, using Metamask, is still there. We have to wait until Metamask is updated.

In other words, this issue makes sense 👍

[2018-03-01 02:39] cooper-sloan commented on #10
I'm working on an app using ws with drizzle to load data and metamask to process the transactions.  So it is possible, although it's quite messy.

[2018-03-06 03:18] rrubo opened #14 "BigNumber issue when converting fromWei()"
Drizzle is massive, thanks a bunch! But can't pass an issue with BigNumbers. Not having seen info on Drizzle issues, have to post this here:

`value = <ContractData contract="Market" method="priceOf" methodArgs={this.props.id}/> `- returns a BigNumber object in Wei.

`web3.fromWei(value, 'ether')` gives an error `new BigNumber() not a number: [object Object]`

How to actually convert the Drizzle c

[2018-03-06 11:22] elie222 commented on #10
So seems like Drizzle is mostly unusable right now as MetaMask is the main way to interact with Dapps?

[2018-03-06 11:39] elie222 commented on #10
Would it be possible to use Infura for websockets and MetaMask for everything else?

I see Infura recently added WS support:
https://github.com/INFURA/infura/issues/29

[2018-03-06 21:30] davekaj commented on #10
@elie222 yes, i have done that as a solution. you need to keep track of two different web3 instance. it is a hacky solution that works for now

[2018-03-06 22:26] elie222 commented on #10
Would be nice if you could post what you did as an example.

The web3 instance you pass to Drizzle is the infura one I take it? And then
separately you do txs with metamask? Doesn't Drizzle also expect txs to be
done through it too though?

On 6 Mar 2018 23:30, "David Kajpust" <notifications@github.com> wrote:

[2018-03-07 02:41] keithpops commented on #10
@cooper-sloan && @davekaj I'm very interested in seeing what methods you've come up with in managing multiple web3 instances to use drizzle with MetaMask. I've also been investigating this and would love to see what other solutions people have come up.

[2018-03-07 16:07] arjunyel commented on #10
If anyone could write up a quick tutorial on the workaround for using Drizzle with metamask that would be a HUGE help to the community :)

[2018-03-07 18:21] davekaj commented on #10
damn, sorry was not paying enough attention, i have not done this with drizzle. i only did it with a normal react project

[2018-03-15 00:23] julien51 opened #17 "Dynamically adding contracts?"
Drizzle seems to assume that contracts are deployed when it is initialised. Our dapp actually lets users deploy their own contracts or even connect to existing deployed contract by a 3rd party.
Would it make sense to allow `DrizzleContract` to not try to instantiate contracts which have not been deployed (right now it raises an error when that happens), and even add the ability to later 'add' cont

[2018-03-15 14:10] julien51 commented on #17
Oups! this seems like a duplicate of #9.
I'll close this one ;)

[2018-03-15 14:10] #17 closed

[2018-03-18 14:02] julien51 commented on #16
Closing as I now understand better how this works. I should have learned more from Redux's approach first!

[2018-03-27 16:03] balasan opened #25 "Issues with library build setup"
There are several issues with the build setup at the moment - will open a PR shortly:

- `babel-polyfill` modifies the global namespace, so should be avoided in libraries, this results in an error if used in another project that also uses babel-polyfill: Uncaught Error: only one instance of babel-polyfill is allowed. `babel-plugin-transform-runtime` should be used instead
- webpack is currently ad

[2018-03-27 16:53] balasan opened #28 "Possible name collisions in contract state"
If a contract contains any of the following public variables it would create a naming collision in the drizzle store: `initialized`, 'synced', 'events'

I propose keeping the contract state in inside a separate `state` object:

+ would be nice to add the contract methods in there as well so we don't have to access the drizzle instance to call functions (this is a very confusing and cumbersome expe

[2018-03-27 22:46] DmitryPasenko opened #30 "TypeError: (0 , _drizzle.generateContractsInitialState) is not a function when trying to run freshly-unboxed Drizzle-box"
Hi! I'm new to web3 and truffle, but I've did everything as described in tutorial:
- I have unboxed drizze-box
- I have ganache-cli running on localhost:8545
- I have deployed needed contracts successfully
- ran webpack-server on localhost:3000
- also my Metamask connected to localhost:8545 and shows a valid account from testrpc with right amount of ETH (99.675 ETH), considering small amount was s

[2018-03-29 09:56] #30 closed

[2018-03-29 18:58] balasan opened #31 "Proposal: use a parent drizzState object that holds all state fields"
I'm incorporating drizzle into a larger redux project, and feel like it would beneficial to group all the drizzle state into a single object.

ex:
[code]
This will avoid any naming collisions in the state of a bigger project and keep things more organized.
This change would require modifying the code whenever state is accessed in the library (maybe this could be a dynamic param?)
ex:
[code]

[2018-04-02 20:45] tarrencev commented on #32
Make sure you are passing "polls" in the drizzle `options` like:

[code]

[2018-04-03 13:58] lucianstroie opened #33 "Versioning in Truffle Box"
Update the version of drizzle-react-component in the Drizzle Truffle Box, probable also the version of drizzle-react.

[2018-04-04 16:48] lucianstroie commented on #33
https://github.com/truffle-box/drizzle-box/issues/24

[2018-04-04 16:48] #33 closed

[2018-04-06 14:03] julien51 opened #35 "Index contracts by addresses rather than by name"
Right now, Drizzle uses the contract names to identify them.... but I think it would be better to index them by address than by name because a given app could have multiple contracts with the same name.

[2018-04-06 14:08] julien51 commented on #28
Another approach would to be to let allow `generateStore` to be invoked with other arguments such as some app reducers, initialState and middlewares.

[2018-04-06 14:45] julien51 commented on #28
I did this in my own branch:
* [passing reducer](https://github.com/julien51/drizzle/commit/f57932b5110c1dd38552794640e019984f8d68ee)
* [passing default state](https://github.com/julien51/drizzle/commit/5a736fd2e79eb84a648d6a22420570ae9927d670)
* [passing middleware](https://github.com/julien51/drizzle/commit/7c38cb2163464a171558b34bc75a73de1440128d)

[2018-04-14 22:01] nharlow89 opened #38 "You are currently using minified code outside of NODE_ENV === 'production'."
I opened a similar issue on the drizzle-react side, but it would be very helpful to publish non-minified/source-mapped code to npm!

[2018-04-16 07:55] marcogohi commented on #35
Hi Julien,

yes, we have the same problem. We used the code you provided in a pullreq and works ok.
I hope it is merged or considered ASAP.

Thank you!

[2018-04-17 00:09] nharlow89 opened #39 "Add more configurable event options"
Currently subscribing to events via drizzle options is not configurable. It would be great to extend the drizzle event options to match the [web3 Contract.events options](https://web3js.readthedocs.io/en/1.0/web3-eth-contract.html#contract-events).

The main use-case I have is pulling in events since contract creation and then listening for future events. I understand that this can easily be accom

[2018-04-17 00:33] nharlow89 commented on #38
Believe this is fixed in #26 on develop branch.

[2018-04-17 00:33] #38 closed

[2018-04-17 05:33] nharlow89 commented on #39
#40

[2018-04-20 10:27] morrigan commented on #32
`pools` but also `events` should be passed!

[2018-04-20 21:34] DiscRiskandBisque commented on #25
Closing because the PR is merged.

[2018-04-20 21:34] #25 closed

[2018-04-20 21:55] DiscRiskandBisque commented on #32
Ahh this is because of poor key checking on the options object, [v1.1.2](https://github.com/trufflesuite/drizzle/releases/tag/1.1.2) fixes this so that in the future you do not HAVE to include `polls`.

@morrigan [v1.1.3](https://github.com/trufflesuite/drizzle/releases/tag/1.1.3) fixes this for the `events` key as well!

[2018-04-22 23:03] DiscRiskandBisque commented on #10
Right off the bat I've got to apologize for not hopping in this conversation earlier!

Today, Drizzle supports MetaMask via a fallback to their very own web3-block-tracker package (see release v1.1.4). Release notes for v1.1 are also relevant as it was the first time MetaMask support rolled out.

Hope you'll all give it another shot if you haven't already. 🙂

[2018-04-22 23:03] #10 closed

[2018-04-22 23:23] elie222 opened #47 "Performance interacting directly with the blockchain"
In the past when writing dapps we've always needed a caching layer in between to speed things up. How would drizzle handle this?

[2018-04-25 17:24] gconaty opened #51 "Polling sagas don't exit when END dispatched"
I've got an app using NextJS and redux where when switching pages, "END" is dispatched to the saga middleware, hopefully to shut the whole thing down.  However the block polling channel and the account polling channels do not stop.  While they provide a `unsubscribe` method, it never gets called.

[2018-04-25 18:49] tzumby opened #52 "Contract inheritance and public methods"
Hey guys,

First off, thanks for Truffle and Drizzle, these tools are awesome!

I feel like this is a noob question, but since I've exhausted all the google searches and Solidity docs I decided to post it here. Here it goes:

I have a main contract A I'm deploying that inherits from another contract B. I setup a react project to work with Drizzle using the truffle box. I can access the main contra

[2018-04-25 23:44] gconaty commented on #51
After some more hacking it looks like perhaps redux-saga doesn't cascade `END` to other channels.  I was able to somewhat work around this by doing a `yield cancelled()` and closing the channel.  In general however, I found it's not feasibly currently to stop the saga and then restart.

[2018-04-27 00:01] sklingler93 commented on #53
I think the idea is that the compiled version of drizzle on npm has all the dependencies in it already. The `package.json` you posted matches the one in `dist`.

However, anything >1.1.0 does break for me:
[code]

I think some of the deps are missing

[2018-04-27 18:15] LayneHaber commented on #9
Any idea when this type of functionality would become available?

[2018-04-27 20:14] rongierlach commented on #9
Loving the motivation behind this lib, keep up the great work! 😄

Wanted to add that forcing users to use an artifacts file rather than allowing them to specify contracts via a deployed address and JSON abi, is coupling this library with the rest of the truffle ecosystem in a way that for many is going to be a dealbreaker.

Lots people like to use truffle for local development on ganache, but woul

[2018-05-01 08:34] JFGHT commented on #53
@DiscRiskandBisque hey, any explanation for this?

[2018-05-01 22:23] chunkzer opened #55 "Errors Reading blocks w/ Metamask"
![image](https://user-images.githubusercontent.com/8446066/39496495-8b1f3b4e-4d53-11e8-8819-f2f24df64577.png)

After a transaction while I wait for confirmation I get a bunch of these errors popping through console (though eventaully the transaction is successful and state is updated)

[2018-05-03 02:52] LayneHaber commented on #55
Getting the same error with accounts on rinkeby

[2018-05-04 21:04] gconaty commented on #9
Looking through the code a bit @DiscRiskandBisque would the recommended solution be to modify the redux state structure for contracts https://github.com/trufflesuite/drizzle/blob/master/src/drizzleStatus/drizzleStatusSaga.js#L36

to have a secondary dimension of `address`?  Perhaps also maintaining back-compat by having the 'default' still be `contracts.[contractName]`?

Fleshing it out in more de

[2018-05-07 06:16] jamjamlong266 commented on #32
@LeeDark is app is running now ?

[2018-05-07 12:34] nieldlr commented on #9
@DiscRiskandBisque sorry for dropping off here. Those sound great to me 👍Excited to see it live so I can try this out :)

[2018-05-07 22:06] chunkzer commented on #55
Same error still happening, some blocks randomly turn out to be null:

![image](https://user-images.githubusercontent.com/8446066/39727591-2f984e46-5208-11e8-9764-786a65a08851.png)

Added reprocessing flow that seems to take care of it on: https://github.com/trufflesuite/drizzle/pull/57

[2018-05-09 14:30] yvon commented on #59
I pushed a commit to my fork, https://github.com/yvon/drizzle/commit/6663ff2f96ced1cf1c83ba94ad9af23152682ef3, and I was about to submit a PR, but I found another approach.

I don't understand why the Npm package is generated from dist folder. From my POV, dist compressed version is useful only for people who would like to download/include the script without Npm.

If I'm right:
+ npm package shoul

[2018-05-09 14:34] yvon commented on #58
I noticed it too:

Here is my approach until it's solved : https://github.com/trufflesuite/drizzle/issues/59#issuecomment-387758476

[2018-05-13 16:35] sklingler93 commented on #59
@yvon I think you should still make that PR. After looking at a few different modules, it looks to me like the standard practice is to define the dependencies in `package.json` and not embed them in the compiled file (`drizzle.js`).

Right now, anyone that installs drizzle does not have the correct dependencies.

Source maps are enabled in `webpack.config.js` so the development workflow should loo

[2018-05-14 00:11] adambom opened #62 "Estimate gas limit"
What's the recommended approach for estimating gas prior to calling `cacheSend`? I'm finding that if I don't set a gas limit, in many cases my transactions are failing with out of gas exceptions.

I'm finding myself needing to do this before every call:

[code]

Is there a cleaner pattern for this? Would it make sense to add this to drizzle? I'm using drizzle with drizzle-react and drizzle-react-c

[2018-05-14 07:58] JFGHT commented on #59
Related to:

https://github.com/trufflesuite/drizzle/issues/53

[2018-05-14 14:09] yvon commented on #59
You are right. I'm new to node. I'll update my comment.

But no, I believe they should

+ generate an npm package including all sources, including the dist folder.
+ get ride of dist/package.json and use the root one

Actually exactly how it behaves when we install the package from github url.

[2018-05-14 15:26] sklingler93 commented on #59
@yvon You're right, that sounds like the best approach!

[2018-05-14 18:07] asselstine opened #63 "README.md seems to read the state incorrectly"
The way of accessing the state is shown as:

[code]

However 'methods' is undefined.  I am able to access the state using:

[code]

drizzle 1.1.5

[2018-05-14 18:42] asselstine commented on #63
PR here https://github.com/trufflesuite/drizzle/pull/64

[2018-05-14 21:20] asselstine commented on #9
This would be fantastic!

@DiscRiskandBisque is there anyone working on this actively?  I could submit a PR

[2018-05-15 08:54] JFGHT commented on #59
I also managed to fix this issue by installing directly from github url but in Windows it gives error.

I'll give detailed info later today.

[2018-05-15 17:01] asselstine commented on #9
I couldn't wait; I added the code for using Web3 Contract instances directly:

See PR https://github.com/trufflesuite/drizzle/pull/65

[2018-05-19 18:51] protolambda opened #67 "Missing License file"
It occured to me that there is no license file. Can this be added? The `package.json` uses the default license when creating a new npm package, so that's not very helpful either. Maybe just add a MIT license?

[2018-05-20 19:04] makoto opened #68 "Playback from old block."
Hi,

The majority of web3 calls takes optional block number so that it returns the state of the specific block number rather than the default `latest`.

http://web3js.readthedocs.io/en/1.0/web3-eth.html#eth-defaultblock

Wondering how easy it is to add `Playback` feature into drizzle so that it can easily simulate the transaction history utilizing redux (rather than trying to put every state trans

[2018-05-26 10:28] tsuberim opened #71 "Question: Can contract state become stale if it depends on another contract's state?"
Example:
[code]
Drizzle will only refresh the state of `balance()` when a transaction is sent to the contract, thus it will not change due to changes in the state if the `token` contract (e.g transfer to/from the contract, minting etc...).

Is this correct?

[2018-05-29 18:47] DiscRiskandBisque commented on #55
Fixed by merging #56 , please re-open if that didn't fix this for your machine.

[2018-05-29 18:47] #55 closed

[2018-05-30 21:26] numbbbbb opened #75 "How can I check whether the contract is deployed?"
For example, I deploy the contract to one network, but user switch to another network, then drizzle init will fail. My question is: how can I know that?

I can't rely on anything of state to detect that error. After reading source code, I find that drizzle put the `DRIZZLE_FAILED` action, but no `take` to handle it. Besides, the error is caught and `console.error`ed without re-throw, so I can't ca

[2018-06-03 13:57] slam9z opened #76 "Metamask account changed, but the page is not reloaded automatically"
the account is not polling by the interval as set in the drizzleOption file.

const drizzleOptions = {
    web3: {
        fallback: {
            type: 'ws',
            url: 'wss://ropsten.infura.io/ws'
        }
    },
    contracts: [],
    events: {},
    polls: {
        blocks: 3000,
        accounts: 3000,
    }
}

When I switched the account from Metamask, the page is not reloaded automat

[2018-06-03 18:32] JFGHT commented on #59
@DiscRiskandBisque This issue should be addressed.

[2018-06-05 02:19] tommycp3 opened #78 "missing dependencies"
Using version drizzle: "1.2.0"

We upgraded the latest truffle box to drizzle 1.2.0 as given version seemed to have an invalid version of drizzle installed, with no state initialisation helper.

We installed the latest version of these to:
- "deepmerge": "^2.1.0",
- "is-plain-object": "^2.0.4"

on our master package.json file and error was fixed.

[2018-06-05 07:42] JFGHT commented on #78
https://github.com/trufflesuite/drizzle/issues/59

[2018-06-15 14:59] JFGHT commented on #77
Closed with: https://github.com/trufflesuite/drizzle/pull/79#issuecomment-397427439

[2018-06-16 20:51] benjamincburns commented on #86
immediately after writing this, I now realize I should likely `race([take('TX_SUCCESSFUL', ...), take('TX_ERROR', ...)])` but w/ action selector functions which check the txId or hash rather than with just the type strings.

[2018-06-16 21:03] benjamincburns commented on #86
![image](https://user-images.githubusercontent.com/803016/41502392-c52bd246-71d6-11e8-8e00-de4b56a22adc.png)

I'm guessing this is the bug (notice the undefined tx ID). I bet it works fine w/ `--noVMErrorsOnRPCResponse` though.

[2018-06-16 22:01] benjamincburns commented on #86
happens on gas errors, too

[2018-06-22 04:00] dangell7 commented on #87
Did you fix this?

[2018-06-22 04:01] dangell7 commented on #86
Did you submit a pr?

[2018-06-22 04:05] dangell7 commented on #76
I had to implement an auto refresh on another application. Its not web3, that returns a list of accounts. Where meta mask displays all the accounts to you, but designates a chosen account. Something like this will need to be implemented to catch this.

[2018-06-22 18:15] JFGHT commented on #76
Indeed. This is also happening to me.

[2018-06-26 02:32] Calpoog commented on #91
Yep, I see your PR unified those couple files as ES6 and how they're imported. Just as a question though, is there any reason that generateStore and generateContractsInitialState are not default exports when they're the only exports in their respective files. I'm not sure of that's a convention or something.

[2018-06-26 02:41] dangell7 commented on #91
I'm not really sure, I just started coding a year ago... I do find the way drizzle is structured quite interesting.

@DiscRiskandBisque can you elaborate?

[2018-06-30 09:58] mnaamani commented on #90
You can get the network id from the web3 instance of drizzle available in the store:

`drizzle.store.getState().web3.networkId`

[2018-07-04 13:53] bellaj commented on #32
sometimes you need only to unlock metamask if you use it

[2018-07-06 09:40] DalderupMaurice commented on #98
I didn't realize this problem actually points out that your SC is not deployed 😄

[2018-07-08 18:49] DiscRiskandBisque commented on #53
This should now be fixed in v1.2.2. When the dependencies were unbundled, they weren't added to the production `pacakge.json` so were not installing unless otherwise present in the project already. Please re-open if I'm misinterpreting.

[2018-07-08 18:51] DiscRiskandBisque commented on #59
This should now be fixed in v1.2.2. You've corrected hit the issue--the dependencies weren't added to the release `pacakge.json` so were not installing unless otherwise present in the project already.

[2018-07-08 18:52] DiscRiskandBisque commented on #78
This should now be fixed in v1.2.2. You've corrected hit the issue--the dependencies weren't added to the release `pacakge.json` so were not installing unless otherwise present in the project already.

[2018-07-08 18:52] #78 closed

[2018-07-08 18:58] DiscRiskandBisque commented on #96
@mnaamani Very much agree--with the fixes in 1.2.2 out the door this is the next order of business!

[2018-07-09 19:50] DiscRiskandBisque opened #101 "Replace injected web3 use with Provider."
- Will allow Drizzle to set the `web3` version by instantiating its own.
- Will stop race condition bug where `defaultAccount` is not set in time for a transaction without a `from` field, causing that transaction to fail with confusing error messages; i.e. "incorrect nonce".

[2018-07-10 08:20] DalderupMaurice commented on #63
This can be closed?

[2018-07-10 16:40] asselstine commented on #63
Yup; resolved with the PR

[2018-07-10 16:40] #63 closed

[2018-07-18 09:39] TovarishFin opened #104 "drizzle cannot run on node when using server side rendering"
I ran into an issue with the latest update which I believe has to do with last releases's webpack update. This can be easily resolved by simply updating webpack config with the following:
[code]
I believe this is is an issue relating to https://github.com/webpack/webpack/issues/6784

When updating the config and building on my machine, it seems to work fine.

[2018-07-23 11:31] Mischi commented on #101
We're building a mobile web app and would like to pass our version of web3 to Drizzle too.

Right now we're abusing the fact, that Drizzle will pass the provider from Metamask which we override to pass in our own provider.

Before we initialize Drizzle, we do the following:
[code]

Cheers,
Fabian

[2018-07-25 23:00] bellaj commented on #87
any solution?

[2018-07-26 23:38] johnmpotter commented on #81
My short-term solution was to fork drizzle and add the raw web3Contract instance to the drizzle contract and just use that when calling getPastEvents.

https://github.com/johnmpotter/drizzle/commit/0ff09957ccf4108d71c7583ad57436788596a8fe

I believe the reason the function isn't being added to the DrizzleContract instance has to do with Object.assign, but i'm not sure what the solution would be. I

[2018-07-29 17:48] Bowfish opened #106 "drizzle with react-router-dom 4.3.1"
We use react-router 4.3.1 in our project.

How can I connect the router history to drizzle

I get te follwoing error on the browser console:
[code]

I have the following setup:
index.js
[code]
history.js
[code]
store.js
[code]

package.json
[code]

[2018-07-30 10:06] Mischi commented on #101
Hi. I'm thinking of providing a PR for this and wonder if you've already started to work on this issue? Also, can you explain a bit more what this ticket is about and what your expectations are?
The more I think about this issue, the more I get the feeling that there is more than just providing `my own web3 provider through the drizzleOptions`.

Thanks your very much,
Fabian

[2018-07-31 15:24] ProphetDaniel opened #107 "Mappings not being displayed within drizzle.contracts."
More information about this problem can be seen [here](https://github.com/ProphetDaniel/drizzle-react-components-plus/issues/1).

[2018-08-02 19:05] BryceDoganer opened #108 "Contract events array not being populated"
```drizzle v1.2.2```
```node v8.11.3```

I would like to use drizzle to monitor events happening from my smart contract. Reading the docs I setup ```drizzleOptions.js``` with an array of strings that correspond to the contract's events, but when checking the state there are no events populated in the contract's event array.

[code]

Here is the state tree (```events``` array being a child of ```So

[2018-08-02 20:17] Crelde commented on #98
I am having that same issue, how did you resolve..

[code]

[2018-08-02 21:31] BryceDoganer commented on #108
After some digging I found this string of operations being performed during the initialization phase of drizzle.

In ```contractsReducer.js``` each contract is generated with the ```generateContractInitialState()``` function as seen below.  In this function only the objects with ```type === function``` are added to the state. This seems fairly normal because we needed to add events to monitor in `

[2018-08-03 08:16] DalderupMaurice commented on #98
You have to deploy your Smart Contract and set the address of the Smart Contract using this: https://web3js.readthedocs.io/en/1.0/web3-eth-contract.html#options-address @Crelde

[2018-08-03 13:35] mtsalenc commented on #54
+1

[2018-08-05 12:44] adrianmcli commented on #98
Adding the following in

[2018-08-05 12:45] adrianmcli commented on #98
Make sure to remember to add the following in your `truffle.js` or `truffle-config.js`:

[code]

It needs to know how to connect to ganache.

[2018-08-08 05:08] Bowfish opened #109 "Deleteing contracts dynamically"
Is there a way to delete a contract dynamically. Basically the opposite of `context.addContract()` Something like `context.deleteContract()` would be convineinet.

[2018-08-11 08:44] reime005 opened #110 "Drizzle initialization may fire too late"
I ran into the issue that the Drizzle action 'DRIZZLE_INITIALIZING' has not been fired, because the page was already loaded. Also, trying to access window may cause problems when for example using a library site generator / SSR.

https://github.com/trufflesuite/drizzle/blob/def2ad6c6ad28e64fb52f76a82c919dc06c6287f/src/Drizzle.js#L3

[2018-08-11 10:02] reime005 commented on #108
I ran into the issue that nothing about events was printed to the console. But obviously there must have been an error. Fixed it with that code: https://github.com/reime005/drizzle/commit/a449f163851886e9e582d3075ba4631751c52b04

[2018-08-13 07:39] 18dew commented on #49
having similar issues here

[2018-08-15 23:54] sarbogast opened #112 "Drizzle and mapDispatchToProps not working"
I'm still struggling with Drizzle, trying to dispatch my own action. Based on the Drizzle box, I added the following to HomeContainer:

[code]
The getEthRate action creator looks like this:

[code]
And then I registered a saga to process that action in rootSaga.js:

[code]
But the following saga is never triggered, as I never see the log in the console:

[code]
And based on the Redux dev console,

[2018-08-16 18:57] vmaykovsky commented on #104
I've got the same issue working with Next.js + Drizzle. @TovarishFin, your approach helps but doesn't fix the issue completely. I think this is quite a serious issue, which should be fixed ASAP.

[2018-08-20 15:47] kartojal commented on #81
I'm using drizzle and drizzle-react packages, and a way to use getPastEvents is to use the "web3" instance that comes with Drizzle, injecting the contract ABI and the deployed contract address to `new web3.eth.Contract(abi, address, options)`, creating a raw Web3 contract instance, with all the web3 methods.

Some pseudocode example, can be wrapped into a function for reusing it:
[code]
Could try

[2018-08-21 08:13] reime005 commented on #112
You could try to use the react-redux provider instead (as I did) and/or then call the Drizzle constructor, which should dispatch the initialization actions on your store. I did it like this so I don't need `drizzleConnect` or `DrizzleProvider`. This might be your problem somehow

[2018-08-21 14:59] ProphetDaniel commented on #107
I will close the issue since this is not a problem of drizzle. The problem is within web3 itself:

More information [here](https://ethereum.stackexchange.com/questions/3227/accessing-mapping-inside-object-with-web3-js).

[2018-08-21 14:59] #107 closed

[2018-08-22 09:27] yahgwai commented on #101
Hi @Mischi, @DiscRiskandBisque  I've also found a need for this. I'm using multiple drizzle instances on the same page. To do this I've had to adjust the drizzle options to allow me to inject different web3 providers to each of the instance.

I'm not sure if this belongs in the drizzleoptions, as it feels nice to keep these static, but perhaps another arg to the drizzle constructor would work? I'm

[2018-08-23 02:59] sarbogast commented on #112
OK, so I figured it out. I was misled by Redux DevTools that made me think that the action was not dispatched because when I filtered on the action's name, I didn't see anything. But apparently, the action was dispatched, but not picked up by Saga because there was a mistake in my initialization there:

[code]

The issue is that all() expects an array, and I pass it an array and an isolated object

[2018-08-23 02:59] #112 closed

[2018-08-23 07:26] bertiespell commented on #82
@cosmicapotheosis How did you solve this? I'm seeing the same thing

[2018-08-23 17:59] johnmpotter commented on #82
@bertiespell I believe the current readme is incorrect. You should pass in 'contractConfig' and 'events' as arguments to the function as opposed to putting them within an object.

Try this instead (notice lack of curly brackets):
[code]

[2018-08-23 21:32] johnmpotter commented on #108
For some reason, events aren't working for me either. I logged the error message, similar @reime005's suggestions and received this error:

`Error: The current provider doesn't support subscriptions: MetamaskInpageProvider`

It may be related to an issue with MetaMask not supporting web3 1.0 yet https://github.com/MetaMask/metamask-extension/issues/3642

According to #10, Drizzle has a work around

[2018-08-24 11:14] robertdavid010 commented on #110
Not sure if appropriate for this issue, but it's related to the same line of code...

This is not a common use case, but occassionally it may be advantageous to have the Redux store available on a NodeJS server. As an example: [Redux Server Side in NodeJS](https://www.quora.com/Can-Redux-be-used-for-server-side-Node-js-without-any-UI).

By conditionally attaching the Promise to either the client `

[2018-08-27 05:40] Bowfish commented on #98
My DApp is working with dirizzle connected to ganache. Now I deployed my contracts to the Rinkeby testnet. How do I have to set up the options that drizzle uses the contracts which are deployed on Rinkeby?

[2018-08-27 06:07] adrianmcli commented on #98
@Bowfish See this part of the documentation: https://truffleframework.com/docs/truffle/advanced/networks-and-app-deployment#build-artifacts

But in short, you should be able to use the same `.json` build artifacts, as long as you deployed using Truffle.

[2018-09-02 13:30] pcatana commented on #98
Hey @DalderupMaurice , where do you set the contract address exactly? (where in the codebase) I have the same issue as @Crelde .

. I have followed the [drizzle tutorial](https://truffleframework.com/tutorials/getting-started-with-drizzle-and-react#install-drizzle) to the line and i get this errror.

[2018-09-02 16:42] Bowfish commented on #98
@pcatana I set the address in the drizzle options. like this:

[code]

[2018-09-02 17:13] adrianmcli commented on #98
@pcatana When you migrate your smart contracts using Truffle, the addresses of the smart contracts are written into the `.json` build artifacts. This is why Drizzle only requires you to pass in the `.json` build artifact file and it should be able to connect to the contract instance automatically.

[2018-09-02 17:16] Bowfish commented on #98
@adrianmcli That is pretty cool. In this case, I can delete all the contract stuff in the drizzle options. Right?

[2018-09-02 17:35] Bowfish commented on #98
@adrianmcli That looks good, but now I get this Metamsk Error. Do you have any idea what that could be?

![metamask-error-01](https://user-images.githubusercontent.com/27821742/44958909-2ff40600-aee7-11e8-8407-61213a55f4b6.png)

[2018-09-02 18:00] pcatana commented on #98
I'm having the contracts imported from the build/ folder. Migrated through truffle, the artifacts work. But somehow it can't read the address somewhere....
This is my `index.js`;

`import React from "react";
import ReactDOM from "react-dom";
import "./index.css";
import App from "./App";
import registerServiceWorker from "./registerServiceWorker";

// import drizzle functions and contract artifact

[2018-09-02 18:04] adrianmcli commented on #98
@pcatana what specific error do you get?

[2018-09-02 18:05] pcatana commented on #98
I get this error
[code]

[2018-09-02 18:10] adrianmcli commented on #98
@pcatana that's weird, have you tried restarting ganache and then running `truffle migrate --reset`? You can also feel free to delete the `build` folder before this, just in case.

That'll rebuild your build artifacts from scratch and hopefully it'll be able to find the address and connect to your contract.

[2018-09-02 18:47] adrianmcli commented on #98
@pcatana Did you specify your network in `truffle.js` and `truffle-config.js` as described in this section: https://www.truffleframework.com/tutorials/getting-started-with-drizzle-and-react#specify-the-network

[2018-09-02 18:56] pcatana commented on #98
Yes I do:

[code]

[2018-09-02 19:04] pcatana commented on #98
I have the tutorial here: https://github.com/pcatana/truffle-drizzle-tutorial in case you want to try it.

[2018-09-02 19:48] adrianmcli commented on #98
@pcatana I just tried it and it worked perfectly fine for me. Maybe you have MetaMask installed and is connected to the main network? For initial development, I always recommend people to use an incognito window without MetaMask so you don't run into this problem.

Consider this section: https://www.truffleframework.com/tutorials/getting-started-with-drizzle-and-react#wire-up-the-react-app-with-dr

[2018-09-02 19:55] pcatana commented on #98
Damn. It works. You're right. Thank you @adrianmcli

[2018-09-02 20:02] adrianmcli commented on #98
@pcatana This is actually a pretty common. I think maybe I should bold that point or something. Thanks for letting us know actually, it's something we need to bring more attention to.

[2018-09-02 20:43] pcatana commented on #98
@adrianmcli that's a good idea.

[2018-09-05 13:53] mnaamani commented on #93
done in #94

[2018-09-05 17:19] adrianmcli commented on #110
@reime005 I think I understand where you are coming from. Maybe something like [this](https://github.com/adrianmcli/truffle-next/blob/master/client/lib/getWeb3.js#L20-L30) (from my personal Truffle box) might solve it?

[code]

[2018-09-05 17:21] adrianmcli commented on #110
In terms of using Drizzle on SSR and avoiding `document` or `window`, I can see how that could be a concern, but I just think that we simply can't support that use-case at the moment. You shouldn't really be loading Web3 and everything on the server-side (since we use the provider in the client).

[2018-09-05 17:26] adrianmcli commented on #106
Haven't had the time to look into this yet. But personally, I would say that you should keep the Drizzle store separate from your App's redux store. It makes things easier from a separation of concerns perspective. You can still access both stores via the redux dev tools.

[2018-09-05 17:29] adrianmcli commented on #104
@TovarishFin would love a PR for this if you already have a working solution.

[2018-09-06 06:57] znss1989 commented on #98
@adrianmcli I am having the same problem as with pcatana when trying on the Drizzle tutorial, but alrady running the tutorial application in incognito window in Chrome canary.

![image](https://user-images.githubusercontent.com/9821703/45139892-d8ee7980-b1e3-11e8-8bc5-913212d0fb04.png)

The current state of code can also be found here https://github.com/znss1989/drizzle-react-tutorial. Spent quite

[2018-09-06 14:33] AstronautAndy opened #115 "Having issues using the Drizzle library in React"
Using Ubuntu 16.04

Greetings, all I was following the tutorial for getting Drizzle up and running located here. I advanced to this step when I attempted to run the app using the "npm start" command from the terminal. I was then greeted with an error reading "TypeError: drizzle is undefined." I tried again after updating packages via npm, but the error continued. I've reproduced the code I'm using

[2018-09-07 06:00] znss1989 commented on #98
@adrianmcli Thanks for spending time to help me figuring out the possible cause there. I followed the steps to use symlink by `ln -s ../../build/contracts contracts`, but I did so in git bash on a Windows 10 machine. Is that a problem? Is the command executed differently in Windows?

[2018-09-07 08:35] pcatana commented on #98
I've tried to use `mklink` on windows but couldn't. So, I used the [linux subsystem](https://docs.microsoft.com/en-us/windows/wsl/install-win10) on windows with the `ln` command.

[2018-09-07 08:40] adrianmcli commented on #98
Btw, I know this symlink business is really annoying. We hope to have a fix for this in Truffle v5.1 so that you can simply define a path for where to dump your build artifacts. Windows support is one of the most challenging things I've had to deal with.

[2018-09-07 09:09] DalderupMaurice commented on #98
I don't know what you're doing but my comment https://github.com/trufflesuite/drizzle/issues/98#issuecomment-410180793 should help you. You should place this code right after initializing your contract in web3
Like this:
[code]

[2018-09-07 09:13] adrianmcli commented on #98
@DalderupMaurice The problem with directly importing from the `build/contracts` folder is that you are not allowed to import files outside of in Create-React-App unless you eject. That's really the only reason for the symlink. But by all means, you don't need to use Create-React-App at all either. It's just used for simple illustration.

[2018-09-07 16:58] adrianmcli commented on #98
Having an entire Truffle project inside the `src` folder of a Create-React-App is maybe even more awkward than the symlink approach or even ejecting. I want to say that you can do it if all you need to do is just to make it run, but I can't help but feel like you are better off with the other approaches.

[2018-09-13 23:08] eshohet commented on #115
What's your package.json look like?

[2018-09-13 23:10] eshohet opened #117 "TypeError: Cannot read property 'address' of undefined ropsten network"
I'm deploying a drizzle based project, the build directory contains an address to the contract but I'm still getting address undefined.

Here's my repo:

https://eshohet.github.io/Reddit-Cash/

Here's the deployed minified code:

https://github.com/eshohet/Reddit-Cash/tree/gh-pages

Any help would be awesome!

[2018-09-13 23:19] #117 closed

[2018-09-13 23:19] eshohet commented on #117
Forgot to deploy one of the contracts... my bad.

[2018-09-14 11:47] kartojal commented on #71
I'm having issues trying to track an ERC20 token balance with drizzle, that is similar to your code. My balanceOf method does not update after interacting with the contract, only if i do a browser refresh it shows the new balance. Will try to set a minimum project to show.

[2018-09-19 08:30] GarethOates commented on #87
Think this needs a bit more clarification.  The error is happening because somewhere the code is passing a value into the web3.utils.fromWei function as a number type instead of a String or BigNumber.  Are you using the fromWei function in your own client-side code at all?

[2018-09-19 10:26] gnoblin opened #118 "drizzle breaks create-react-app on npm 5.6.0/node 8.11.3"
While trying to build drizzle app from scratch (https://www.truffleframework.com/tutorials/getting-started-with-drizzle-and-react) instead of using drizzle box - I have an issue. I'm using npm v5.6.0/node v8.11.3 - right after 'npx create-react-app client' the frontend part of the app works ok ('yarn start' leads to default cra page being opened), but right after the next step 'npm install drizzle

[2018-09-19 18:16] camilaavilarinho commented on #115
@AstronautAndy I answered your question on stackexchange, check if works: https://ethereum.stackexchange.com/questions/58136/having-issues-using-the-drizzle-library-in-react

[2018-09-25 13:09] shershen08 commented on #118
did you try to run it with `npx react-scripts start` ?

[2018-09-30 22:08] MarkGeeRomano opened #119 "Trouble connecting to localhost through metamask"
I have a blockchain instance running at `8545`. When I switch MM to use "Private Network", RPC calls from my dapp are throwing. `MetaMask - RPC Error: Internal JSON-RPC error`.

I loaded an account generated from `ganache-cli` into mm, and the correct balance is rendering, so I know mm is properly connecting, but for some reason, the drizzle => mm => localhost communication is failing.

Temp fix i

[2018-10-01 22:47] hackingbeauty opened #120 "Can I use Redux-Thunk with Drizzle?"
I would like to use Redux-Thunk and not Redux-Saga in my project.  Do I have to use Redux-Saga in order to use Drizzle?

[2018-10-02 06:03] hackingbeauty opened #121 "Can I Use Redux-Thunk With DrizzleSagas?"
My React app uses Redux-Thunk; however, I want to incorporate drizzleSagas from the "drizzle" NPM package into my Dapp.

Do I have to convert my entire app to use Redux-Saga, or can I still use drizzleSagas with the rest of my app that uses Redux-Thunk?

[2018-10-03 17:56] gnidan opened #122 "Support overloaded methods in ContractForm"
Right now it seems that the `method` parameter takes only a method name. Because Solidity supports function overloading, it might be the case that more than one method uses the same name.

When defining a ContractForm, users might want to specify a particular version of a method, rather than whatever form is default.

[2018-10-05 07:10] pors commented on #108
@DiscRiskandBisque can you confirm that the #10 fix indeed doesn't cover events? I also get the "not supported" error (after exposing it manually):

![screen shot 2018-10-05 at 10 09 03 am](https://user-images.githubusercontent.com/1078320/46521024-d769ad00-c886-11e8-9baa-0006b5b90600.png)

[2018-10-05 17:48] pors commented on #108
BTW this might be a workaround until MetaMask supports web3 1.0 subscriptions: https://github.com/upperwal/web3-event-compatibility

[2018-10-06 15:30] MarkGeeRomano commented on #119
After resetting and redeploying a few times, got it working.

[2018-10-06 15:30] #119 closed

[2018-10-08 18:31] danfinlay opened #124 "Usage of pify breaks reference to provider"
At MetaMask we've been blocked from rolling out our new provider, because it breaks Drizzle, and we don't want to break every Drizzle app.

As documented in https://github.com/MetaMask/metamask-extension/issues/5459:

- Drizzle pifies its provider, breaking the `this` reference.
  - Should make sure `pify` method receives correct context argument.
  - May also require patch in blocktracker-es5 2.3

[2018-10-08 22:49] gnoblin commented on #118
I will try it, thanks.

[2018-10-10 18:57] nahuely commented on #108
Hi there, im having the same issue, i would like to know if there is any progress on it? thanks so much

[2018-10-10 23:19] elie222 opened #125 "Is this compatible with Metamask yet?"
From what I remember this package had a lot of issues with Metamask. As that's the go to wallet for most dapp users I didn't use this for any of my projects. Has this situation changed at all in the past few months?

[2018-10-11 08:20] pors commented on #108
Good news from MetaMask, subscription support is underway: https://github.com/MetaMask/metamask-extension/pull/5458

[2018-10-12 16:41] nahuely commented on #108
update to the latest metamask version, the event array its getting populated, and the websockets provider its working, im so so happy thanks

[2018-10-12 17:48] BryceDoganer commented on #108
Thanks for the update!

[2018-10-12 17:48] #108 closed

[2018-10-14 09:39] nahuely opened #127 "Transaction object doesnt get updated"
After using cacheSend to make a transaction, the transaction hash gets added to transaction object, but it doesnt move from pending state(but it was confirmed in the etherer explorer), if you need more information i would be glad to provide it, im using the latest version of drizzle and react-drizzle, also the latest version of metamask, cheers.

[2018-10-15 10:10] Chyeegin opened #128 "Passing multiple variables to method via sendCache"
I finished the tutorial on 'GETTING STARTED WITH DRIZZLE AND REACT'. However, I realized on the part where

[code]
, that it could only send one variable. How do I send multiples variables to a method?

Update No.1:
I read the readme doc mentioning the **Drizzle State** has a key pair which is 'args' that pass to the function call. Is there anyone know how to use this?

Thanks in advance!

[2018-10-15 15:58] oldwolf commented on #128
You can send the multiple values by
const stackId = contract.methods["set"].cacheSend(value1, value2, value3, {        //HERE
    from: drizzleState.accounts[0]
});

[2018-10-15 17:44] Chyeegin commented on #128
@oldwolf Thanks! It works now.

[2018-10-15 17:44] #128 closed

[2018-10-17 03:33] mstobie-seequent commented on #127
This occurs as of metamask 4.14 and is a duplicate of #126

[2018-10-17 20:25] barlock opened #130 "Support for React Native"
Supporting React Native would be quite helpful. There are a few things that's needed to make everything happy.

1. Initialization assumes a `window.addEventListener` which doesn't exist in RN (see #100)

2. Shims need to be in place for node/browser dependencies that don't exist in RN. Probably this should just be documented.

	**At the top of your entry point**
[code]

	**Configuration passed to

[2018-10-18 13:50] barlock commented on #130
@adrianmcli I don't see any code to roll releases so I can't seem to fix 3 which is the most annoying of the bunch. I'm assuming you're rolling these by hand? Could you include the source in the output?

Is this attached to any CI? I could also make a pr to roll the release when one is made on github.

[2018-10-18 21:09] dangell7 commented on #121
I used both...

[2018-10-21 17:41] adrianmcli commented on #125
@elie222 can you elaborate on how it doesn't work with MetaMask?

[2018-10-21 18:07] elie222 commented on #125
When this was released there were issues with subscriptions and metamask
web3 1.0 support. It's been half a year now and metamask has made updates,
so was wondering if Drizzle now works properly with it.

On Sun, 21 Oct 2018, 20:41 Adrian Li, <notifications@github.com> wrote:

[2018-10-22 19:44] cliffhall opened #132 "Update docs: drizzleState.accounts"
The [README states](https://github.com/trufflesuite/drizzle/blob/master/README.md#accounts-array) that drizzleState.accounts is an array. However it is actually an Object with numbered keys:
![screen shot 2018-10-22 at 3 43 42 pm](https://user-images.githubusercontent.com/871933/47315009-5abe2900-d611-11e8-9c99-08c880fb6d1c.png)

[2018-10-22 21:29] barlock commented on #121
You can use both thunks and sagas in the same redux store. Thunks act as a middleware and "interrupt" the process of the action where sagas "observe" what happens and perform side effects "off the main thread" (it doesn't actually, but I find it easier to think of it that way).

The only reason you might want to pick one or the other is for code consistency. If you're trying to integrate drizzle i

[2018-10-23 00:49] pors commented on #125
@elie222 Subscription support was an issue of MetaMask.  As of MetaMask 4.16+ subscriptions (and events) now work with drizzle.

[2018-10-23 20:59] barlock commented on #54
So far I've determined that no, it's not currently possible.

The things in the way are:

1. `uport-connect` uses web3 < 1.0. This will change when uport-connect releases v1.0.0.

2. `drizzle` doesn't easily support constom providers, you can pretty easily hack that though.... `window.web3 = { currentProvider: new Provider(...) };`

2. `uport-connect`'s provider seems to be incompatible with drizz

[2018-10-23 23:15] nahuely opened #134 "if reject transaction in metamask undefined key is added in transaction object"
if you click on reject transaction in metamask a undefined key is added in the transaction object, its not a critical bug i think, but at first glance its weird, im running the latest version of metamask extension and the latest version of drizzle 1.2.4, cheers

![image](https://user-images.githubusercontent.com/11826311/47396249-428dfd00-d72a-11e8-8cd4-eb623c5b9ddc.png)

pd: i think is because th

[2018-10-24 21:35] RicoRicoCA commented on #98
I had the same error as pcatana and znss1989:
"index.js:2178 uncaught at root at root
 at contractsSaga
 at takeEvery
 at addContract
 at instantiateContract
 TypeError: Cannot read property 'address' of undefined..."

and fixed it by using "truffle console" to launch truffle,
and then using "compile" and "migrate --reset" from within.

Whereas i had been using "truffle develop" (ie not console),

[2018-10-24 22:29] adrianmcli opened #136 "Better error message for when Drizzle cannot find contract on the network"
The `uncaught at root at root` error message is terrible; a simple search under this repo reveals many people who ran into this just because they are on the wrong network (often because they are using MetaMask set to mainnet) or simply because they forgot to deploy the contract.

The error really should be something like "The specified contract cannot be found on the specified network." or similar

[2018-10-24 22:37] adrianmcli commented on #120
Duplicate of #121

[2018-10-24 22:37] #120 closed

[2018-10-24 22:37] adrianmcli commented on #115
@AstronautAndy are you still having issues?

[2018-10-25 16:31] adrianmcli opened #137 "Support hardware wallets"
n/t

Ledger seems to already provide a Web3 provider, so it shouldn't be too hard?

Wallets we would like to support: Ledger, Trezor, Keepkey

[2018-10-26 07:12] joshma91 commented on #136
@adrianmcli The fix in #138 doesn't get rid of the crappy `uncaught at root at root`, because that's required to show the stack trace. However, it shows a more descriptive message (the one you suggested) above it.

[2018-10-26 07:46] adrianmcli commented on #136
@joshma91 do you think you can give a screenshot to show the before/after effect?

[2018-10-26 14:46] joshma91 commented on #136
Sure @adrianmcli, here's the before and after. If you don't like the after, I've also shown an option where we use `throw new Error('custom error msg')`

![image](https://user-images.githubusercontent.com/9612111/47573630-a19e6e00-d8f2-11e8-85d4-e48c3ffdf810.png)

[2018-10-26 15:37] #136 closed

[2018-10-28 23:48] soundyogi commented on #48
As I understand drizzle makes heavy use of sagas which are redux dependent.
The new context api does not replace redux aswell if you ask me.

For small apps context api can be enough.
For larger ones I did not want to loose redux myself.
/2cents

[2018-10-28 23:49] soundyogi commented on #137
metamask supports ledger and trezor now

[2018-10-29 02:47] #115 closed

[2018-10-29 02:49] AstronautAndy commented on #115
I was able to handle the issue. Thank you!

[2018-10-29 06:54] adrianmcli commented on #137
@soundyogi Yea, we're aware of this too. Just need to test it and make any necessary tweaks. Are you saying that it already works now (with the current Drizzle)?

[2018-10-29 12:37] soundyogi commented on #137
I am upgrading our dapp to drizzle and the new metamask provider.enable() system.
So I cant report until I got it to work.

But I succesfully used my ledger via metamask using the old standard web3/metamask provder combo.
So I dont see why it should not work (via metamask at least) since metamask abstracts the ledger away using its provider.

Of course pure ledger support without metamask is somet

[2018-10-29 18:05] soundyogi commented on #137
This looks quite helpful but also outdated:
https://gist.github.com/gre/93fc39242c31a23c0570e71cc33bed5a

there are a few third party libs on npm. I will look into it further this week.

[2018-10-30 03:09] soundyogi commented on #110
Hiya,
I rewrote @adrianmcli exellent web3resolver to work with the new web3 ethereum provider and the ethereum.enable() method.

The resolver also returns the promise now so it can be chained:

https://gist.github.com/soundyogi/cc049c3fe8bb045510e5925e2de196c9

[2018-10-30 03:18] adrianmcli commented on #110
@soundyogi feel free to make a PR to fix this!

[2018-10-30 04:00] soundyogi commented on #110
https://github.com/trufflesuite/drizzle/pull/139

This should do it. I was lazy so I went with the master branch.
I can do the whole 'develop' branch thing though if you wish, like a proper contributor, though.
(Sorry its late today and of course I did forget to read the contributing.md , argh ^^; )

[2018-10-30 06:37] #110 closed

[2018-10-30 06:38] adrianmcli commented on #110
@soundyogi, it looks good to me. It looks like the `develop` branch is stale anyways. No worries and thanks for doing this.

[2018-10-30 12:19] soundyogi commented on #110
No thank YOU for doing this. Ill try to kill some more issues the next weeks when we have used drizzle a bit more. <3

[2018-10-30 22:17] soundyogi commented on #90
is this resolved?

If you did not deploy via truffle your abi-s wont include the adress / network and you have to add web3 contract instances manually when creating the store.

[2018-10-31 12:12] soundyogi commented on #130
1. could probably easy fixed by as commented here:
https://github.com/trufflesuite/drizzle/pull/100

3. is a PITA. I have no Solution.

[2018-10-31 12:49] barlock commented on #130
Any idea how releases are created? It looks manual to me from @DiscRiskandBisque's account.

I see truffle is using Travis, I'll make a guess at how the release is built and make a pr. Someone would need to add env variables though. Any insight would be helpful.

[2018-10-31 12:50] soundyogi commented on #9
this issue could be closed then no?

[2018-10-31 12:52] soundyogi commented on #47
Do you have concrete performance issues? I believe drizzle uses a cache system.
This can probably be closed.

[2018-11-02 17:07] soundyogi commented on #106
React Router is declarative and seperate from redux, it works if your app is react heavy but to be honest I think a programmatic approach suits redux much much better.

I use this now which is awesome when you are using redux anyway.
https://github.com/faceyspacey/redux-first-router

I too would keep to seperate stores. The routing should have little effect on drizzle.

[2018-11-08 13:56] soundyogi commented on #121
Both are completely seperate middleware. No Problem.

I usually use redux-thunk until my app get too large or I need to listen to a specific action.

This Issue can be closed :)

[2018-11-08 14:00] soundyogi commented on #75
Is this still relevant?
Is this really drizzles task?
Only you know which networks have your contracts.

We have a network check in our dapp that displays a notice to the user if she is on the wrong network.

[2018-11-08 14:04] soundyogi commented on #104
this seems mergable to me but the /dist version is also included in the commit.

[2018-11-08 14:20] soundyogi commented on #85
Do you have an idea how to do this?
Maybe a redux-middleware could be the place for that.

https://github.com/johnrhampton/redux-error-middleware

[2018-11-08 14:21] soundyogi commented on #67
can be closed.

[2018-11-08 14:29] soundyogi commented on #130
Still pretty new here.
Maybe @adrianmcli or @DiscRiskandBisque could shed some light on the matter?

How are drizzle releases rolled out?

[2018-11-08 14:32] soundyogi commented on #106
@Bowfish is this issue still relevant?

I would advise use the new `Context` approach opposed to the Provider.

Also this isue is not really related to drizzle and probably could be closed.

[2018-11-08 16:21] adrianmcli commented on #106
Thanks for checking up on this @soundyogi, closing for inactivity. Will open again if OP or someone else is having trouble.

[2018-11-08 16:21] #106 closed

[2018-11-08 16:56] adrianmcli commented on #130
Hmm, can point 3 be addressed by what @yvon did here? https://github.com/yvon/drizzle/commit/eb690e58161893dcbfc24f4baa08236585b4247b

[2018-11-08 21:04] barlock commented on #130
I don't think so, window is defined in react native, but sadly I've removed drizzle from my code base to easily test as I didn't have a web3 provider that supported subscriptions. I need to open an issue with uPort for that...

The reason I'm not sure is that by removing the compiled webpacked version, everything worked. The "standard" thing to do with React Native projects is to compile the sourc

[2018-11-09 16:41] yvon commented on #104
@adrianmcli give me few days. I have to focus on it.

Tis quick fix did the job for us, but I'm not sure it's the most elegant approach. I have also few more fixes dealing with the window object in my branch, done by @vedi. It's worth considering creating PRs for those too.

[2018-11-10 06:32] joshma91 commented on #137
I've been trying to make Drizzle work purely with Ledger for the past few days but there's issues with Ganache that won't allow clean Ledger integration with Drizzle.

I adapted the gist that @soundyogi linked to into `web3Saga.js` within the `initializeWeb3` function and I'm able to hand Drizzle the web3 that the Ledger provides. I'm able to access the full `drizzle` and `drizzleState` instances

[2018-11-10 18:45] adrianmcli commented on #130
@soundyogi What's your opinion on #100?

[2018-11-10 22:18] soundyogi commented on #130
https://github.com/trufflesuite/drizzle/pull/141

I generalized a bit since we maybe need more short circuit environment (node?)
or special conditions on pre-init.
I think this way is a bit more comprehensible.

This should work I hope, can someone test it?
I cant test it for RN at the moment.

Still leaves the bigger points too.

[2018-11-12 10:33] #67 closed

[2018-11-13 21:24] eloudsa commented on #76
Hi
I have the same issue with my Dapp.
If I change the account on Metamask, I detect that the account changed and I will recall my function, but I have the feeling that the data send back by drizzle are not the updated ones.
I have to force a page refresh on Chrome to reload properly the data according the current account selected on metamask.
Did I miss something?
Is that a way to force a refresh

[2018-11-14 09:05] adibas03 opened #142 "Drizzle CacheSend does not wait for Metamask confirmation"
When `caheSend` is called on a contract function, it needs to wait for the signing and sending of said transaction, before waiting to add to the `transactionStack`. The present behavior does not wait for that and as such, excpt using an unlocked account on a node that needs no confirmation, the `stackId`would not exist in the **transactionStack** and an immediate check would fail.
This was tested

[2018-11-14 13:17] barlock commented on #130
Running to the end of a release, I'll make a test project in a few days.

[2018-11-14 21:38] crazyrabbitLTC commented on #16
I'm kinda wondering if anyone at all knows how to use Events with Drizzle, google turns up very little....

[2018-11-16 00:52] soundyogi commented on #39
Hi I think this is merged and the Issue can be closed.

What I am missing though is a simple usage example of configuring the DrizzleStore aswell as getting the event data. it seems to confuse a lot of people.

[2018-11-16 01:24] soundyogi opened #143 "Log Saga Error Events."
We really need to log out Saga errors!

For example. I used infura mainnet provider instead of kovan, thats why events where not working for me.

After Inspecting the saga-action-flow I discovered a websocket connection error.

Which led me to the fix (using the correct infura fallback provider)

I am not sure but I think there was a Ticket like this before?

[2018-11-16 01:43] soundyogi commented on #9
This Issue is resolved and can be closed.

[2018-11-16 01:45] soundyogi commented on #127
This Issue can be closed now.

[2018-11-16 01:48] soundyogi commented on #35
Can we reference the PR here?

It seems to me that such a change would make sense since naming-conflicts are not a problem with contract addresses.

[2018-11-16 01:49] soundyogi commented on #76
Is this still relevant?
Switching networks reloads my dapp and I did not implement a special reload.

[2018-11-16 06:19] 15330355709 opened #144 "how can i use it in vue"

[2018-11-17 01:10] nharlow89 commented on #39
@soundyogi I am not sure if this question was directed towards this particular merge or just the package in general. Here is an example of passing event options to the configs:

If you need help reading data from the DrizzleStore you might reference [drizzle-react-components](https://github.com/trufflesuite/drizzle-react-components).

[2018-11-17 01:10] #39 closed

[2018-11-17 21:59] cliffhall opened #146 "Add a 'retry initialization' option"
If I load my DApp while Metamask is logged out, I can detect and display a message that says you need to connect an Ethereum account using Metamask or similar.

Now, if the I realize I'm just not logged in on Metamask and I go ahead and do so, Drizzle does not recognize this (I can inspect drizzleState and see there are still no accounts).

What I would like is to display a 'Retry Connection' butt

[2018-11-19 19:54] DiscRiskandBisque opened #147 "Broadcast Events Externally"
Drizzle makes some subscriptions automatically, but currently their emitted events are "trapped" internally. This causes code duplication when someone wants to act on these events and they're not causing changes in the store, e.g. block subscription events.

We should provide the option to broadcast web3 events (`data` from `onNewBlockHeaders` for example) users would expect to get from making the

[2018-11-21 10:21] epiqueras opened #148 "Support Passing Address and Abi Separately"
Currently, if I did not deploy a contract using `truffle`, I have to initialize `web3` myself to use `web3.eth.Contract` to get the object for the `drizzle` config. I don't want to duplicate the `web3` initialization that `drizzle` already does, so I ended up doing something like this:

[code]

Ideally, you should be able to pass something like `{ abi, addresses: { [networkID]: <address> } }` as a

[2018-11-21 18:04] FriendlyUser commented on #144
+1 I am also interested in this functionality, but it's called a reactive dapp store for a reason.

[2018-11-24 20:33] cliffhall commented on #147
Please and thank you. Right now, I just want to get an update when one of my contracts emits an event. That could be in the form of some state change, but I'd prefer a callback, since my app has its own store and uses DrizzleContext.Consumer to gain access to the drizzleState. Please take that possibility into account when you craft the solution.

[2018-11-29 07:36] haklhl opened #149 "how to get origin contract in drizzle?"
Hello,
     I only get drizzle-contact in drizzle.
     but sometimes I need origin contract to call some functions such as 'myContract.getPastEvents' or 'myContract.getPastEvents()', these functions  from Web3JS document(https://web3js.readthedocs.io/en/1.0/web3-eth-contract.html#getpastevents)
    so how can I do it?

[2018-11-29 07:52] joshma91 commented on #134
@nahuely yea I totally get it. The `transactionStack` value is normally the key in `transactions`, and then in my case, the `transactionStack` key becomes the key in `transactions` which is inconsistent. I can't really think of a clean solution to this without re-engineering it so that a `txHash` is broadcast before Metamask approval.

[2018-11-30 14:46] palexs commented on #98
In my case MetaMask was active and pointed to Rinkeby Test Network. I had to switch it to Localhost 8545.

[2018-12-02 03:35] soundyogi commented on #48
Hi,

redux works with more libraries than react - locking all the state management to react is not a wise choice I think.

In fact drizzle react uses the react context api to connect the drizzle redux store (which is quite a nice pattern to create specialized redux stores if you ask me)
https://github.com/trufflesuite/drizzle-react/blob/master/src/DrizzleContext.js

this issue can be closed

[2018-12-07 15:35] maxme commented on #134
Not being able to know if the transaction has been rejected is a big problem.  I had to hack my way to change the state of my views when a transaction has been rejected, and it's really dirty.

As a first version of the fix, having the stackId in the `transactions` object would be much cleaner than having `undefined`. I agree it's inconsistent, but that's a first step.

Note: this is related to ht

[2018-12-10 18:23] adrianmcli commented on #130
@barlock just did another read-through of this issue. Just to confirm what you are saying:

1. Make sure to try initialization right-away (i.e. not only depend on `window.addEventListener`)
2. Add the shims you mentioned in your first post
3. Publish the package w/ the `src` folder included
4. Add `"react-native": "src/index.js"` into the `package.json`

This would be sufficient for RN support rig

[2018-12-10 18:25] soundyogi commented on #130
I need react-native for my next projects so I hope I can test this soon-ish.

[2018-12-10 18:37] adrianmcli commented on #130
@soundyogi don't worry, we just got a new hire (@honestbonsai). He's working full-time on this right now, it's his top priority :)

[2018-12-10 23:49] hackingbeauty commented on #121
Thank you :)

[2018-12-10 23:49] #121 closed

[2018-12-11 00:03] hackingbeauty commented on #52
I second @klivin's observation.  Why are Smart Contract calls that change state not exposed via Drizzle?

[2018-12-11 00:18] honestbonsai commented on #130
https://github.com/honestbonsai/reactNativeDrizzle test repo here

Still working on some things with it, but could be a starting point for others as well.

I can get all the way to
[code]

Which then leads to the fix of
[code]

But then I'm getting
[code]

[2018-12-11 05:15] soundyogi commented on #130
Nice! We are getting close to this.

Initialization looks fine I can close #141 !

I could dig this up regarding the ```Unexpected token```:
https://github.com/ds300/react-native-typescript-transformer/issues/60

[2018-12-11 05:38] adrianmcli commented on #130
@honestbonsai note that v1.2.3 is pretty old. There are newer versions, as well as `@next` and `@pure`.

Go to https://www.npmjs.com/package/drizzle and click "versions".

[2018-12-11 05:45] soundyogi commented on #149
Here is how to get the method you seek aswell as 'the drizzle way' of listening to specific past events:

[code]

[2018-12-11 05:50] soundyogi commented on #81
@kartojal answer is correct.

To access `getPastEvents` you need to access a web3 contract instance.

This Issue can be closed.

[2018-12-11 14:50] tomw1808 commented on #71
I'm kind of hitting the same issue. Take an ERC20 contract A and some other contract B.

Let's say on initialization `A.getBalance(account)` has the right amount, e.g. 4.

Then do a `A.approve(B.address, 4);`, works fine, doesn't update the balance anyways.

Now the crucial part:

Let's say in Contract B there is a function called "startWithdrawal" that calls `A.transferFrom(msg.sender, address(th

[2018-12-11 17:04] hyperh commented on #130
@soundyogi Yea going to look into alternatives for `whatwg-url`.

@adrianmcli Thanks for the heads up. I branched off `master` for now, but will check out those alternatives in the future.

[2018-12-11 17:31] adrianmcli opened #150 "Replace getWeb3 w/ Drizzle-Utils' get-web3"
Take a look at this file: https://github.com/trufflesuite/drizzle/blob/master/src/web3/web3Saga.js

This is how Drizzle current retrieves the Web3 object. Look into using Drizzle-Utils instead: https://github.com/trufflesuite/drizzle-utils/tree/master/packages/get-web3

As of the time of this writing, Drizzle-Utils has not been published to NPM yet. Ping @adrianmcli to do it if he hasn't already.

[2018-12-11 18:37] adrianmcli commented on #150
@cds-amal It's been published! You can just run `npm install @drizzle-utils/get-web3`.

[2018-12-11 19:46] soundyogi commented on #130
^ that sounds pretty good actually.  less dependencies also.

[2018-12-11 22:02] hyperh commented on #130
Ok so that worked pretty nicely https://github.com/trufflesuite/drizzle/issues/130#issuecomment-446288718.

However there's an issue with the usage of `Object.assign` on RN (only on dev builds though, I tried out a production build and seems to work ok)

1. https://github.com/aframevr/aframe/issues/2375 (originally found out from here, following links come from this one)
1. https://github.com/face

[2018-12-11 22:03] honestbonsai commented on #130
Ok so that worked pretty nicely https://github.com/trufflesuite/drizzle/issues/130#issuecomment-446288718.

However there's an issue with the usage of `Object.assign` on RN (only on dev builds though, I tried out a production build and seems to work ok)

1. https://github.com/aframevr/aframe/issues/2375 (originally found out from here, following links come from this one)
1. https://github.com/face

[2018-12-11 22:04] honestbonsai commented on #130
Haven't tried this yet, but off the top of my head, in order to replace whatwg-url, could just make our own URL class and use node's url.parse in its constructor (looking at the web3 alternative path).

Will try it today.

Ok so that worked pretty nicely

However there's an issue with the usage of `Object.assign` on RN (only on dev builds though, I tried out a production build and seems to work ok

[2018-12-11 22:22] soundyogi commented on #130
The `Object.assign`  is a userland thing thougj no? I mean the config for the bundler that bundles the RN app. So its not up to drizzle to fix that. Or we just use a custom `Obect.assign` for both and overwrite the method. Just a Thought.

[2018-12-12 17:14] DiscRiskandBisque commented on #14
Thanks for bringing this to our attention @rrubo! I'm closing this for now because of its age, but please reopen if this is still an issue.

For reference, you can access the instance of web3 instantiated by Drizzle with `drizzle.web3`.

[2018-12-12 17:14] #14 closed

[2018-12-12 17:16] DiscRiskandBisque commented on #149
Thanks @soundyogi for that thorough response! @haklhl , that is the correct way.

[2018-12-12 17:16] #149 closed

[2018-12-12 17:32] DiscRiskandBisque commented on #47
Hi @elie222 , Drizzle essentially acts as a caching layer between the blockchain and your dapp. Closing this for now, but please reach out if you'd like to discuss more: josh@trufflesuite.com.

[2018-12-12 17:32] #47 closed

[2018-12-12 17:35] DiscRiskandBisque commented on #48
@jeffscottward , for an example of using Drizzle with the new context API, check out this tutorial: https://truffleframework.com/tutorials/getting-started-with-drizzle-and-react

[2018-12-12 17:45] DiscRiskandBisque commented on #49
@zulhfreelancer Thank you for noticing this! This is expected behavior when using Ganache. A provider is being injected which provides the account info you're seeing in Chrome. If this were a deployed dapp, no accounts would be fetched without a provider.

[2018-12-12 17:50] DiscRiskandBisque commented on #51
@gconaty To clarify that I'm understanding your correct: you're able to stop the polling with `yield cancelled()`; the issue is restarting the polling afterwards?

[2018-12-12 17:51] DiscRiskandBisque commented on #51
Tagged for 2.0 because polling will be fully supplanted by subscriptions, but we will probably want some more manual control over the subscription status.

[2018-12-12 17:57] DiscRiskandBisque commented on #52
Those functions are exposed, but will not appear as keys in the store. For state mutations, [see the documentation on `cacheCall()`](https://truffleframework.com/docs/drizzle/getting-started/contract-interaction#-code-cachesend-code-). Please comment if I'm missing something.

[2018-12-12 17:58] DiscRiskandBisque commented on #52
@tzumby That's odd. Just checked with a token contract that inherits from a base and I see functions from derived contracts. Does the artifact file contain all the expected functions?

[2018-12-12 18:03] hackingbeauty commented on #52
@DiscRiskandBisque we're really confused about how to integrate Drizzle into our React apps.  I now just learned that Smart Contract calls that change state can only be called from React Context.  Is this true?

Can you please help us learn how to configure our dapps to use Drizzle the right way?  It's extremely frustrating.

[2018-12-12 18:04] DiscRiskandBisque commented on #58
@leonprou , we're actively working on this as part of #130--stay tuned! Will keep open until 130's closure.

[2018-12-12 18:07] DiscRiskandBisque commented on #61
@musnit Will duplicate this and see what's up. Also, good point on mutation.

[2018-12-12 18:14] DiscRiskandBisque commented on #68
Hi @makoto this is definitely something we want to support. Can you give us more insight into how you're using the tx history? Thanks!

[2018-12-12 18:31] DiscRiskandBisque commented on #80
@mi-kas Not currently, but you can use the `web3` object exposed by Drizzle with `drizzle.web3`. We are discussing this feature.

[2018-12-12 18:34] DiscRiskandBisque commented on #81
@johnmpotter @soundyogi is correct, @kartojal has the right idea.

[2018-12-12 21:35] honestbonsai commented on #130
@soundyogi @barlock  I've just pushed up a fix for the `Object.assign` issue to the test repo https://github.com/honestbonsai/reactNativeDrizzle, check it out and let me know your thoughts.

It's a rough working implementation. Right now got all the way up to contract initialization. Still need to test out Drizzle's functionality with calls and sends on contracts.

I'll be doing some more testing,

[2018-12-13 12:15] barlock commented on #54
Is there an issue to track custom providers?

[2018-12-14 04:38] tzumby commented on #52
@DiscRiskandBisque it's been a while, I can test this out again when I get a chance.

[2018-12-14 16:14] DiscRiskandBisque commented on #86
We'll need to modify the error handling. Currently it wants to put the error message in the `error` key of the transaction, but in this case there's no hash so we'll have to handle it differently.

[2018-12-14 16:18] DiscRiskandBisque commented on #87
Will attempt to reproduce on our end.

[2018-12-14 16:20] DiscRiskandBisque commented on #89
Hi @LoomiDigital, can we see the client-side code accessing this variable?

[2018-12-14 16:39] DiscRiskandBisque commented on #118
Any luck @gnoblin ?

[2018-12-14 16:46] DiscRiskandBisque commented on #124
Thanks for bringing this to our attention @danfinlay. Closing with merger of #131.

[2018-12-14 16:46] #124 closed

[2018-12-14 16:46] DiscRiskandBisque commented on #127
Closing because this is fixed by #131.

[2018-12-14 16:46] #127 closed

[2018-12-14 16:50] DiscRiskandBisque commented on #86
Closing as a duplicate to #134 (tracking it there because a wider array of users has congregated).

[2018-12-14 16:54] DiscRiskandBisque commented on #143
@soundyogi We're modularizing the instantiation of web3 and will ensure this error can be captured by the application layer.

[2018-12-14 16:56] DiscRiskandBisque commented on #146
I believe MetaMask will handle the page refresh now, but going to investigate.

[2018-12-14 17:07] #143 closed

[2018-12-14 17:10] DiscRiskandBisque commented on #9
Thank you for your hard work @asselstine !

[2018-12-14 17:10] #9 closed

[2018-12-14 17:36] DiscRiskandBisque opened #151 "Object destructuring breaks Webpack build"
In the most recent commits to `master` and `develop`, using Drizzle in a project will throw the following error:

[code]

[2018-12-14 18:05] DiscRiskandBisque commented on #151
Fixed by #152

[2018-12-14 18:05] #151 closed

[2018-12-16 17:37] adrianmcli commented on #150
This is handled by subscribing to `@drizzle-utils/current-accounts-stream`

This is handled by `@drizzle-utils/get-accounts`.

This is an issue, yes.

---

I'm beginning to think maybe we should hold off on all of this and make the big move to a monorepo first.

[2018-12-17 06:51] haklhl commented on #149
Thanks @soundyogi ，I get it~~~

[2018-12-17 14:56] soundyogi commented on #130
Will test as soon as I can! Awesome!

[2018-12-19 07:12] chrischip commented on #104
#153 Please review this PR I believe this is the fix

[2018-12-29 03:13] alexiskattan opened #155 "When is drizzle.addContract done loading?"
I have some code the is very similar to the [example to add a contract](https://truffleframework.com/docs/drizzle/getting-started/contract-interaction#adding-contracts-dynamically).

[code]
It works, sort of.   The `drizzle.addContract` takes some time to load.  So as a hack I do:

[code]
which works.

Is there some even that is called or some other way to track when a dynamically loaded contract

[2019-01-03 17:04] honestbonsai commented on #134
How about we always write a value (e.g. `temp_SOME_UNIQUE_VALUE`) to `transactionStack` array before any tx has been broadcasted?

Once broadcasted, overwrite that temp value in the `transactionStack`. If there's an error that results in no tx being broadcasted (e.g. rejecting a tx), use the temp value as the key in `transactions` object and we can still look it up using that unique temp value.

[2019-01-08 21:38] honestbonsai commented on #87
I can reproduce on `drizzle-box`. This happens under the following scenario:

1. Login to Metamask using account 1.
1. Switch to account 2.
1. Observe the error `Uncaught Error: Please pass numbers as strings or BigNumber objects to avoid precision errors`

[2019-01-09 19:34] honestbonsai commented on #87
I've narrowed down the issue to https://github.com/trufflesuite/drizzle-react-components/blob/master/src/AccountData.js#L36.

The issue with the code is that `balance` becomes undefined at some point during the account switch. I think a simple check for that should fix it if you have implemented your own version of AccountData. I'll open an issue + PR over on the `drizzle-react-components` repo.

[2019-01-10 15:19] honestbonsai commented on #130
#154 merged, but `/src` still needs to be published with the next release for this issue to be resolved

[2019-01-10 17:28] honestbonsai opened #160 "Publish /src with Drizzle 1.3"
Related to #154

RN fixes will not work otherwise

[2019-01-10 20:41] honestbonsai commented on #87
@adrianmcli Will do

[2019-01-10 20:52] adrianmcli opened #161 "Add lint-staged formatting"
We want to remove formatting from being a concern, we already have `npm run format` with Prettier, but we should probably run it on lint-staged or similar.

[2019-01-10 20:53] #134 closed

[2019-01-11 16:06] felipecespedes opened #162 "Cannot read property 'transactions' of null"
I'm trying to use drizzle and Infura-Rinkeby but I'm getting the following error: `Cannot read property 'transactions' of null`

I'm not using Metamask/Mist and the code looks like:

[code]

![image](https://user-images.githubusercontent.com/11846311/51044567-6f1a1e00-158f-11e9-9d2f-522f06608776.png)

any ideas about this error?

[2019-01-11 16:16] DiscRiskandBisque commented on #148
Hi @epiqueras, thank you for bringing this up--we'd love to see a PR! :slightly_smiling_face:

[2019-01-11 17:04] epiqueras commented on #148
Actually, now that I think more about this.

All it would do is replace:
`networks: { 42: { address: process.env.CONTRACT_KOVAN_ADDRESS } }`
with:
`addresses: { [networkID]: <address> }`

Not really worth the extra complexity.

Check out this PR when you get a chance though https://github.com/trufflesuite/drizzle-react/pull/46, would be great to have more people testing it.

[2019-01-11 17:04] #148 closed

[2019-01-11 18:14] felipecespedes commented on #162
@DiscRiskandBisque This is a testing repo where this error is happening https://github.com/felipecespedes/drizzle-error-infura
After few seconds you will start getting the error.
![image](https://user-images.githubusercontent.com/11846311/51051136-e3a98880-15a0-11e9-8763-ea196b8f0b54.png)

If you have Metamask installed the error doesn't happen but the idea is to use the dapp without Metamask (at

[2019-01-11 20:24] honestbonsai commented on #160
With 1.3 let's publish the README as well and link to our github

[2019-01-22 22:07] Garoth opened #166 "Make available cached web3.eth functions, like getBlockNumber"
As far as I can tell, there is no way to get Drizzle's internal current block number. In general, there's no system in Drizzle for caching web3.eth functions -- only direct contract calls. As a result, my app would call the regular getBlockNumber constantly. Turns out half my app's eth data usage is this getBlockNumber call

It's simple enough for me to implement a cache myself, but this would ide

[2019-01-25 16:22] DiscRiskandBisque commented on #166
To clarify, are we talking about a current block number in the store, or a historical cache of blocks from the time of initialization?

[2019-01-25 18:39] sbrichards commented on #147
Yes, please! My use case:

I'm currently subscribing to a contract event in my drizzleOptions.js:

[code]

It appears we can pass event options into the [events object](https://github.com/trufflesuite/drizzle#events-object). It would be great to also allow some sort of callback here to work with received event data. E.g.:

[code]

I'm curious @DiscRiskandBisque ...  you mentioned:

If my event *do

[2019-01-25 20:07] sbrichards commented on #147
In case this is useful for others, here's the basic workaround I've come up with.

In my parent component's constructor:
[code]
One issue I haven't solved is that this listener now fires multiple times per contract event. Digging into actions with [Redux DevTools](https://chrome.google.com/webstore/detail/redux-devtools/lmhkpmbekcpmknklioeibfkpmmfibljd?hl=en) reveals duplicate `EVENT_FIRED` action

[2019-01-27 03:42] Garoth commented on #166
I guess having access to a cache of recently seen blocks would be useful. Basically, my thinking is that the client already has this data in drizzle, it's just inaccessible

But in particular, knowing the latest block + block number would be broadly useful imo

Other "global" functions of this type may be useful for more niche situations (ex. getGasPrice), but are less important overall, I think

[2019-01-27 07:35] sbrichards commented on #76
I hit a similar issue (dealing with transaction errors, not page reloads), though I suspect it may be the same underlying problem.

I documented it in my comments of [this open MetaMask issue](https://github.com/MetaMask/metamask-extension/issues/5587) but the basic gist is: in my Drizzle project I can successfully sign a transaction to a public contract function from one account with MetaMask but

[2019-01-27 18:59] realtsiry opened #168 "Compatibility with redux-saga 1.0.0"

[2019-01-28 18:32] epiqueras opened #169 "MetaMask Stopped Calling Listeners"
Has anyone else noticed this? All transactions get stuck on `"pending"`.

I debugged down to the `createTxChannel` function and everything after `.on('transactionHash')` is not being called, even though the transaction is still mined and everything.

This is using MetaMask's provider on Kovan. It was working fine before today.

[2019-01-29 04:20] dangell7 commented on #169
Can Confirm. Nothing after the hash gets called.

[2019-01-29 04:38] dangell7 commented on #169
You need to update web3 I believe. But this was interesting considering I have 4 contracts now that are not connected to my app. Makes me think I need to implement a different solution to handle transactions.

[2019-01-29 08:13] epiqueras commented on #169
But `drizzle` imports web3 internally, that means we need a new release? I wonder what caused this.

[2019-01-31 07:08] samajammin opened #171 "cacheSend() doesn't catch MetaMask exceptions on invalid transactions"
I'm trying to catch & display errors on invalid transaction inputs in my Drizzle project. When clicking to confirm an invalid transaction in the MetaMask window, MetaMack triggers a console error with the RPC payload & my contract code's revert statement in the error.message.

Using `cacheSend`, the MetaMask exception logs to the browser console but isn't caught in my code:
[code]
<img width="942"

[2019-01-31 12:54] epiqueras commented on #169
I tracked it down. It's a MetaMask issue. Closing this, and opening there.
https://github.com/MetaMask/metamask-extension/issues/6081

[2019-01-31 12:54] #169 closed

[2019-01-31 15:38] dangell7 commented on #169
It’s actially a web3 issue as you can see they handled it in the last update beta 41. If I remove drizzle, my app works fine. If I update drizzle to 41, drizzle crashes. Though, the update to 41 could be a meta mask issue with drizzle but I doubt it. If I remove drizzle all works just fine.

[2019-01-31 16:40] dangell7 opened #172 "Upgrade web3 to beta-41 - 15 of 16 tests fail. No web3 provider"
I was updating the repo to the current version of web3-beta-41 and 15 out of 16 jest tests fail.

To reproduce the issue, clone repo on run `npm install web3`

Then run npm test.

[2019-01-31 19:18] dangell7 commented on #172
This issue does not exists when I remove drizzle from my application.

[2019-01-31 19:21] dangell7 commented on #172
`npm test` error stack

[code]

[2019-02-01 07:29] Xuefeng-Zhu opened #173 "Contract not found on network ID"
With example in https://github.com/truffle-box/drizzle-box, after deploy the contract and start the client, it gave error for not finding contract.

![image](https://user-images.githubusercontent.com/5875315/52108799-cf194880-25c0-11e9-8839-fcb2063db041.png)

[2019-02-01 12:54] khssnv commented on #173
Experiencing issue the same. Solved by downgrading `web3js` version, from `1.0.0-beta.40` to `1.0.0-beta.37`.

In your project directory (where `node_modules` dir) type:
[code]

[2019-02-01 17:22] guix77 commented on #173
Thanks @khssnv ! I've tried beta38, 39, 40 and 41 and indeed 37 is the latest one working. I've submitted a PR to fix this temporarily.

[2019-02-01 19:49] DiscRiskandBisque commented on #172
This should be fixed in v1.3.2 (locked the web3 version to beta.35)--can you confirm?

[2019-02-02 00:10] dangell7 commented on #172
Haha it was locked. The problem is that web3 35 doesn’t give transaction receipts when deploying. This issue was fixed in 41. Hence why you need to upgrade to 41. Or maybe I’m the only one with this issue?

[2019-02-02 04:44] dangell7 commented on #172
It was my error from upgrading my repo on accident.

[2019-02-02 04:44] #172 closed

[2019-02-04 06:52] Xuefeng-Zhu opened #177 "contract methods is undefined"
Even though `initialized` and `synced` are shown as true, `methods` is undefined in contract object

[2019-02-07 15:46] mi-kas opened #178 "Emit redux action if fallback web3 provider is used"
It would be cool, if a redux action is emitted once the fallback web3 provider is used (at https://github.com/trufflesuite/drizzle/blob/master/src/web3/web3Saga.js#L46). The web3 redux store could then also be extended with an `fellback` key set to `true`:
[code]
This would allow dApps to restrict certain functions to metamask users but provide also non-metamask users with some basic functions. Fo

[2019-02-07 19:13] mi-kas commented on #178
See PR #179

[2019-02-08 15:43] kombos opened #180 "drizzle object not getting populated post upgrade to React 16.8.1, drizzle 1.3.3"
i upgraded to the following:
react 16.8.1,
drizzle 1.3.3,
web3 1.0.0-beta.43 (breaking in 1.0.0-beta.37 also)

following this, the drizzle object is not getting populated when the following code is used in index.js :
`const drizzle = new Drizzle(drizzleOptions, drizzleStore);`

both the drizzleOptions and drizzleStore seems to be getting populated properly. the outputted drizzle object is showing

[2019-02-11 01:56] cds-amal commented on #178
Thanks for this use case @mi-kas, it's a neat feature! I will discuss it with our team. Are you developing a Dapp that needs this?

[2019-02-11 04:07] Xuefeng-Zhu opened #181 "currentBlock is empty"
currentBlock in state is an empty object

[2019-02-11 16:35] mi-kas commented on #178
@cds-amal yes, I am currently working on a dApp that would need that feature, but saw this feature also on another react-web3 binding as well

[2019-02-12 19:12] cds-amal commented on #178
Adding my thoughts to this so I don't forget. It's good to provide the app layer more information about the web3 connection. Right now we're addressing the use case that depend on one web3 connection path (fallback provider), but are there other use cases from the other paths? For example would a Dapp behave differently if it connected through an injected provider? I'm not sure, but these decision

[2019-02-14 08:24] kombos opened #184 "drizzle not updating events properly - duplicate events"
I'm facing a peculiar problem while rendering events in a component using drizzle. When a new event is created and is updated in the events array of drizzle (drizzleState.contracts.MyContract.events), it initially shows loads of duplicate events in the array like below:

[code]

The above code block is the brwser console log of the events array which shows duplicate items starting from index numbe

[2019-02-14 12:48] mi-kas commented on #178
Thats a good idea and would work out as well, @cds-amal. What would then be stored in the connectionDetails?

[2019-02-15 05:20] cds-amal commented on #75
If drizzleOptions had a networkID a check could be made after web3 is initialized; proceed or direct user to update network.

[2019-02-15 18:38] #160 closed

[2019-02-15 18:39] #130 closed

[2019-02-15 18:39] #109 closed

[2019-02-20 16:03] Muhammad-Altabba opened #186 "Drizzle has problem connecting to Infura because of Web3 v1.0.0-beta35"
There is[ a issue ](https://github.com/ethereum/web3.js/issues/1559) with Web3 v1.0.0-beta35 that Drizzle depend on.

Error:

Web3 has to be [downgraded to v1.0.0-beta33](https://github.com/ethereum/web3.js/issues/1559#issuecomment-412348171) or upgreaded to version v1.0.0-beta36 and above.

[2019-02-20 16:10] Muhammad-Altabba commented on #186
I raised a [pull request](https://github.com/trufflesuite/drizzle/pull/187) for the version upgread.

[2019-02-21 22:51] cds-amal commented on #178
Hi @mi-kas, I'm still researching this issue. My initial thought is to set the payload to 'Fallback' | 'MM' | 'Injected'. Though It would be nice if providers consistently exposed an interface to get author/org and version so choices can be made based on provider details instead of code-path in selecting the provider. What are your thoughts?

[2019-02-22 16:13] DiscRiskandBisque commented on #184
Hi @kombos, can you provide a link to your repo or the smart contract code so we can duplicate? Thank you!

[2019-02-22 16:16] DiscRiskandBisque commented on #181
Are you by chance using `ganache-cli` with automine? `currentBlock` is filled on new blocks, so if automine is enabled, `currentBlock` will not populate until something causes a block to be mined.

This brings up a good enhancement though: we should fetch the initial current block on initialization.

[2019-02-22 16:18] Xuefeng-Zhu commented on #181
yes, I am using ganache-cli. I wonder if there is a way to go around it? Should I disable the auto mine?

[2019-02-22 16:22] DiscRiskandBisque commented on #180
Hi @kombos, version 1.3.3 should be pinned at `beta.35`--have you tried using `beta.35` and what were the results? There are known issues related to `web3` integration, which may be affecting you.

[2019-02-22 16:41] DiscRiskandBisque commented on #171
Hi @sbrichards, we've made some changes to the `transactionStack` which will probably help here. [See the docs here](https://truffleframework.com/docs/drizzle/reference/drizzle-state#-code-transactionstack-code-array-), but the TL;DR is that a temporary ID will be pushed to `transactionStack`, which you can then use to access the error in the `transactions` object (using the temporary ID).

[2019-02-22 16:42] DiscRiskandBisque commented on #168
Hi @realtsiry, are you experiencing any compatibility issues with `redux-saga` pre-1.0.0?

[2019-02-22 16:45] DiscRiskandBisque commented on #162
Potentially related to #186.

[2019-02-23 21:27] cds-amal commented on #181
Hi @Xuefeng-Zhu you can start up ganache-cli with the `--blockTime` flag, specifying the seconds you want to use. For example `ganache-cli --blockTime 3` for 3 seconds. It is documented in the command line help: `ganache-cli --help`

[2019-02-24 20:44] hackingbeauty opened #188 "Turn Off Drizzle MetaMask Detection"
When I try to use Drizzle, the MetaMask "connect" modal automatically gets displayed when my users first come to my dApp.

I don't like this UX and I'd like to have full control regarding when the MetaMask "connect" modal appears.

How do I turn this off in Drizzle?

[2019-02-25 23:48] rawfalafel opened #189 "Saga effects without a yield leads to incorrect logic"
Code in question is in `contractsSaga.js` [here](https://github.com/trufflesuite/drizzle/blob/8f46c5919eee543e62ef04438c28151ea444a254/src/contracts/contractsSaga.js#L222) and [here](https://github.com/trufflesuite/drizzle/blob/8f46c5919eee543e62ef04438c28151ea444a254/src/contracts/contractsSaga.js#L280).

Should these have a `yield` in front? The call is always returning true, leading to bugs whe

[2019-03-01 00:37] okalouti opened #191 "drizzleState.accounts[0] not re-initialize if Metamask account is changed"
- [ ] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

If the account is changed on Metamask, ```drizzleState.accounts[0]``` does not update unless the page is refreshed. However,  ```drizzle.web3.eth.accounts.givenProvider.selectedAddress``` does change automatically without the need for a refresh.

#

[2019-03-01 10:59] jklepatch commented on #188
I dont know how to turn it off directly, but you could have a parent component outside of Drizzle provider that welcome your user, and when they click something then the child components, wrapped with DrizzleProvider will load and trigger the modal

[2019-03-01 11:03] jklepatch commented on #101
For development I tried to use my own web3 provider directly connected to ganache, to avoid having the Metamask modal annoying me:

[code]

Drizzle still showed me Metamask after this configuration. Is it related to this issue, or am I doing it wrong?

[2019-03-02 21:03] cds-amal commented on #189
Thanks for reporting this @rawfalafel! `call` returns an object which is truthy. Would appreciate a PR if you tackled this already.

[2019-03-02 21:28] rawfalafel commented on #189
Cool! I submitted a PR, although they're missing tests.

[2019-03-06 22:57] coderwithattitude opened #193 "Redux saga error: 'Effects runner is not a function'"
Hello,
each time i call the saga middleware i keep getting this error
[code]

below is my code

rootSaga.js

[code]

store.js
[code]

please help

[2019-03-08 16:20] DiscRiskandBisque commented on #188
This occurs because account fetching triggers after `web3` is connected. We could separate these to allow greater control over when the popup appears.

@hackingbeauty Can you describe or link to the dapp for us? I'm guessing this is a situation where users land on a marketing page or something where you wouldn't want the popup immediately?

[2019-03-08 16:23] #184 closed

[2019-03-08 16:23] DiscRiskandBisque commented on #184
Hey @kombos, we were unable to reproduce this, but if you can provide a repo or more details please reopen and we'll be happy to help!

[2019-03-08 16:29] DiscRiskandBisque commented on #191
Hi @okalouti, we're having trouble reproducing this. Can you link us to a repo?

[2019-03-08 16:30] #180 closed

[2019-03-08 16:31] DiscRiskandBisque commented on #173
Closing this for now. We've pinned the version of `web3` to `beta.35`. If this is still occurring, please reopen.

[2019-03-08 16:31] #173 closed

[2019-03-08 16:36] DiscRiskandBisque commented on #168
If you are experiencing any compatibility issues with redux-saga 1.0.0 or pre-1.0.0, please re-open.

[2019-03-08 16:38] DiscRiskandBisque commented on #166
Fixed by PR #170.

[2019-03-08 16:38] #166 closed

[2019-03-08 16:41] #161 closed

[2019-03-08 16:45] DiscRiskandBisque commented on #146
@cliffhall Thanks for bringing this up. Given your setup, how would you like us to implement this?

[2019-03-08 16:48] DiscRiskandBisque commented on #89
Closing this for age and because `BigNumber` has been swapped out for `BN` in `web3`. If you're still experiencing this issue, please re-open.

[2019-03-08 16:53] DiscRiskandBisque commented on #76
This is likely two issues in one, closing this to direct discussion to these newer issues:
- #171 Transaction errors not accessible
- #186 `web3` version is incompatible with `wss`

[2019-03-08 16:53] #76 closed

[2019-03-08 17:12] hackingbeauty commented on #188
Hi Josh,

I haven't deployed my dapp yet, but I can't use drizzle because of this
issue.  It's not a situation where there is a marketing page.  I just don't
want the MetaMask modal to pop up when a user first comes to my dapp.  That
is very obtrusive UX...

On Fri, Mar 8, 2019 at 8:20 AM Josh Quintal <notifications@github.com>
wrote:

--
Mark M. Muskardin

[2019-03-08 17:29] rawfalafel opened #192 "Drizzle cache does not clear error message"
Steps to reproduce:
1. Call `cacheCall` on a contract method that reverts
2. Wait until `drizzleState` contains error message in cache
3. Update contract state so that the method doesn't revert
4. Let `cacheCall` execute again. This time no revert.

Expected: cache doesn't contain contain error message
Actual: cache contains error message

Here's my fix which also handles the inverse case (clearin

[2019-03-08 19:23] DiscRiskandBisque commented on #193
Transferred because this appears to be a `drizzle` issue rather than `drizzle-react`. Please correct me if I'm wrong.

[2019-03-09 09:17] kombos commented on #184
I'm not sure how to share my complete project, but rather, would it be possible for you to please forward me some good examples on how to use drizzle events? that would be very good for me to analyze. Thanks.

[2019-03-11 10:20] coderwithattitude commented on #193
ok thanks

[2019-03-11 17:44] cds-amal commented on #147
I'm working on exposing contract events by leveraging the redux store. If we can inject an app reducer into the redux store, contract events would be available on the app side. This method requires constructing a local store to pass as attribute to `DrizzleProvider`. There's some boiler plate that can be abstracted away by Drizzle.

I have a Demo repo [here](https://github.com/cds-consensys/drizzl

[2019-03-11 18:27] cds-amal commented on #193
@coderwithattitude Are you trying to add sagas to drizzle's saga middleware?

[2019-03-11 18:42] cds-amal commented on #155
Hi @alexiskattan The contract will eventually be added to Drizzle's redux store's list of contracts. You can inspect the specific contracts via store.contracts['contractName']. It is connected when store.contracts['contractName'].initialized is true

[2019-03-12 01:35] cds-amal commented on #61
Seems related to #189

[2019-03-12 10:10] coderwithattitude commented on #193
@cds-amal yes i am

[2019-03-12 11:44] cds-amal commented on #193
@coderwithattitude I'm currently working on a [feature branch](https://github.com/trufflesuite/drizzle/blob/feature/improve-redux-state-creation/src/generateStore.js) that allows sagas, and their associated reducers to be passed to Drizzle's `generateStore`.  Please let me know if this helps with your use case.

An example of how it could be used is:
[code]

[2019-03-13 16:40] cds-amal commented on #104
Closing this as it is resolved by #153.

[2019-03-13 16:40] #104 closed

[2019-03-13 19:53] cds-amal opened #194 "Add valid networkIDs to drizzleOptions"
Define valid networkIDs that drizzle can use when connecting to web3. This would allow drizzle to present navigation/alert when connecting to invalid (web3) network.

_Originally posted by @cds-amal in https://github.com/trufflesuite/drizzle/issues/75#issuecomment-463910618_

[2019-03-13 19:56] cds-amal commented on #75
Closing due to no recent activity and moving last comment to its own issue.

[2019-03-13 19:56] #75 closed

[2019-03-13 21:42] cds-amal commented on #118
Closing due to lack of activity. If you're still experiencing the issue, please reopen.

[2019-03-13 21:42] #118 closed

[2019-03-14 13:03] cliffhall commented on #146
I can’t speak to the implementation much but as I said above, I would like to display a 'Retry Connection' button that the user can press once they've logged into MetaMask, rather than having to refresh the page.

[2019-03-14 18:36] cds-amal commented on #188
This EIP might be relevant to the discussion. https://github.com/ethereum/EIPs/blob/master/EIPS/eip-1102.md

[2019-03-14 22:45] cds-amal commented on #61
The finalArgs is the optional send or call options for web3 [methods](https://web3js.readthedocs.io/en/1.0/web3-eth-contract.html#id12).
The `call` saga effect returns an object which is truthy. The fix is to `yield` the result of `call`. Thanks @rawfalafel!

[2019-03-14 22:50] #189 closed

[2019-03-15 14:23] cds-amal commented on #171
@sbrichards Is this still an issue for you?

cacheSend uses [promiEvents](https://web3js.readthedocs.io/en/1.0/callbacks-promises-events.html#callbacks-promises-events) under the hood to observe the multiple stages of a transaction. When an error is detected its message is recorded to the transactions sub-tree of redux state. PromiEvent will catch and present an exception through the error listene

[2019-03-15 16:24] cds-amal commented on #192
Thanks @rawfalafel! Can you submit a PR?

[2019-03-16 13:07] cds-amal commented on #87
Closing this out due to inactivity and @honestbonsai fixes in DRC and drizzle-box. Please reopen if necessary.

[2019-03-18 23:59] sbrichards commented on #171
Thanks for the update @cds-amal - I will take a look ASAP, might be a week or two.

[2019-03-19 13:24] chrc commented on #191
Hi,
@okalouti Do you have a example to reproduce please?
Thx

[2019-03-19 13:43] cds-amal commented on #52
@tzumby,

I was unable to produce this issue and will close this out. Please reopen if it is still a problem.

For anyone following up on this - I tested with the code below and was able to view `baseOwner` and `baseValue` and `setBaseValue` in the derived contract.

[code]

[2019-03-19 13:43] #52 closed

[2019-03-19 13:45] cds-amal commented on #193
@coderwithattitude I'm unable to reproduce this issue - do you have a sample repo?

[2019-03-19 23:45] okalouti commented on #191
Hello, my apologies for the delay.

I am working with React on the front-end, so I can reproduce it by doing the following inside any React Component:

1.

Include the following code (making sure the ```drizzle``` and ```drizzleState``` are passed in as props).

[code]

2. Once your application is running in the browser, open Chrome Developer Tools and you should see both addresses being logged ev

[2019-03-21 11:25] rahulmutt commented on #155
@cds-amal I would be interested in submitting a PR for a version of `drizzle.addContractPromise` (or a suggestion for a better name) that takes the same arguments and returns a promise that is resolved once the contract is loaded. Let me know if that works for you.

[2019-03-21 13:52] rahulmutt opened #198 "Allow empty drizzleOptions"
In my use-case, I didn't need to initialize the options (since I am dynamically adding contracts) so I sent an empty object to `DrizzleProvider` from `drizzle-react` and I got the following error:

[code]
which seems to be coming from core `drizzle`.

The workaround is to send:
[code]

Happy to submit a PR if a fix is desirable.

[2019-03-21 20:47] Ezerous commented on #71
(same or relevant issue)

Let's say we have:

**A.sol**
[code]

**B.sol**
[code]

**2_deploy_contracts.js**
[code]

It seems that calling `fun()` will update the state of contract A, but the state of contract B will remain stale (i.e. foo / getFoo() will stay the same in state).

[2019-03-21 21:54] simondlr commented on #186
What's the most efficient way to downgrade web3 to work with websockets? Experiencing same issue. Tried forking drizzle from develop and editing package.json, but screws up dependencies for drizzle-react. So, wondering about my options atm.

[2019-03-22 07:42] rahulmutt opened #199 "Better error message for invalid event name"
It's fairly easy to make typos when specifying events to listen to and a really large stacktrace comes up if you do.

A basic check should be done inside of `addContract` that ensures that the specified event names match up with the contract ABI and throws a readable exception if an invalid event is specified.

Also willing to PR this one if there's no problem.

[2019-03-22 08:18] cds-amal commented on #198
Thanks for raising this @rahulmutt ! Would appreciate a PR

[2019-03-22 08:23] cds-amal commented on #199
Hi @rahulmutt, fantastic idea to validate event names. Would love to see a PR

[2019-03-24 03:49] cds-amal opened #202 "incorrect from address when switching account with Metamask"
With Metamask primed with multiple accounts
1. create a new drizzle box (`truffle unbox drizzle`), deploy contracts, start react app
2. switch account in Metamask and DO NOT refresh page.
3. submit a new value for SimpleStorage and the following error with manifest.

[code]

Notes:
The web3 contract object in SEND_CONTRACT_TX shows inequality between the `currentProvider`s selected address (the co

[2019-03-24 16:25] cds-amal commented on #202
Drizzle constructs and keeps a web3.eth.Contract instance with a from: set to the defaultAccount (accounts[0]) at set up time. This doesn't seem to be updated when account is updated.

[2019-03-26 13:07] fbalwy commented on #16
+1

[2019-03-26 13:57] billieluxu commented on #173
Still running into the same issue for both beta.35 and beta.37. Please revisit the issue.

[2019-03-27 13:26] mwaeckerlin commented on #191
Yes, I have the same problem. Changing the selected account in Metamask should at least trigger a UI render update.

[2019-03-28 20:43] cds-amal commented on #191
@okalouti Thank you for your patience and help documenting this issue. I believe it is a duplicate of #202, but would appreciate if you could confirm.

[2019-03-29 00:26] okalouti commented on #191
@cds-amal yes, looks like the same issue.

[2019-03-29 12:11] cds-amal commented on #202
Confirmed duplicate of #191.

[2019-03-29 12:11] #202 closed

[2019-03-29 12:32] Ezerous commented on #193
This issue is related to https://github.com/trufflesuite/drizzle/issues/168.
When upgrading from redux-saga 0.16.x to 1.0.x and using drizzle 1.3.3 the lack of a default export function in the web3Saga contained in drizzleSagas makes redux-saga v1.0.x throw this error.
I am guessing that this PR https://github.com/trufflesuite/drizzle/pull/167 probably fixes it.

[2019-03-29 12:49] cds-amal commented on #191
Thanks for the quick confirmation @okalouti! :bow: We're working to fix this issue [on this branch](https://github.com/trufflesuite/drizzle/tree/refactor/use-mw-for-drizzle-instance). It is a **_work in progress_** but I believe it should handle this issue at this time.

Test feedback would be appreciated!

Here are the instructions If you can help:
1. Clone the repo. This example shows the `ssh`

[2019-03-29 20:40] cds-amal commented on #168
Investigating if  any of redux-saga's breaking changes prevents us from upgrading to 1.0.x

[2019-03-30 07:44] mwaeckerlin commented on #155
I have the same problem, this fails in the constructor:
[code]

Result:
[code]

So, what is a good solution to solve this?

[2019-03-30 09:06] rahulmutt commented on #155
@mwaeckerlin Initialize the `myMethodKey` to `undefined` and you can do the OP's solution of doing a `setTimeout` and call `setState` to update `myMethodKey` when the contract is populated.

[2019-03-31 22:50] cds-amal opened #203 "Potential error in polling"
The current implementation of polling in Drizzle may skip blocks.

Drizzle uses `eth-block-tracker-es5` ver ^2.32 and subscribes to its BlockTracker's [`latest` event](https://github.com/trufflesuite/drizzle/blob/develop/src/blocks/blocksSaga.js#L71). This can potentially skip a block if multiple blocks were generated within the polling period.

It may effect test blockchains where blocktimes are

[2019-04-01 08:11] mwaeckerlin commented on #155
That's a dirty hack. I am looking for a proper solution without timeouts.

[2019-04-02 07:51] #62 closed

[2019-04-02 07:51] #137 closed

[2019-04-02 07:51] #31 closed

[2019-04-02 07:51] #150 closed

[2019-04-02 11:11] simondlr opened #204 "cacheCall() sometimes hangs. Needs a browser restart to fix."
Hey.

I've been encountering a bug where cacheCall() does not return a key. It just hangs. It's really hard to debug. Unsure why it happens.

It would do this in Brave, but then when I open it in Chrome, it fetches correctly. Unsure if there's some other caching happening. Maybe it's Chrome/Brave or MetaMask or Drizzle.

Restarting Brave fixes the issue. How do I debug this?

[2019-04-03 23:10] #203 closed

[2019-04-04 12:54] JYisus opened #207 "Calling function with multiple return values"
When I call a function that returns multiple values, the value that the object object of Drizzle takes is Null instead of the vector with the elements that I need.
This is the Solidity code of that function:
`
function getRequest(uint _id) public view returns (address, uint) {
`
`
return (userRequest[msg.sender][_id].user, userRequest[msg.sender][_id].resource);
`
`
}
`

And this is how I call it:

[2019-04-05 13:54] cds-amal commented on #207
Hello @JYisus,

Thanks for raising this issue. Does the render function check that the contract is initialized, and its data is fetched? See this example for how to check the preconditions: [drizzle-react-components](https://github.com/trufflesuite/drizzle-react-components/blob/develop/src/ContractData.js#L41-L53)

If you checking the preconditions as above and it's still not working, could you sh

[2019-04-06 21:19] #147 closed

[2019-04-07 18:25] zroper opened #214 "npm install with app directory fails for Drizzle"
Cross-posted from [https://github.com/truffle-box/drizzle-box/issues/80](url)

I installed drizzle using `truffle unbox drizzle` and the process completes successfully. I then try `npm install` within the app directory but the process fails due to an unreachable devDependency module within Drizzle. The Webpack -- > Websocket-Node can't be reached on github. Perhaps this is a temporary issue, but m

[2019-04-07 18:45] zroper commented on #214
Turns out it had to do with using the git:// protocol rather the the https://
I just had to enter this command on centos7
git config --global url.https://github.com/.insteadOf git://github.com/

[2019-04-07 18:45] #214 closed

[2019-04-08 05:11] inspiration33 opened #215 "print revert() in new Contract function"
Truffle v5.0.10 (core: 5.0.10)
Solidity v0.5.0 (solc-js)
Node v10.15.0
Web3.js v1.0.0-beta.37

//solidity Code ( MyToken2 newToken = new MyToken2()) <-- errorpoint

`function deployToken(string memory _name, string memory _symbol, uint8 _decimals) public returns (bool) {
        MyToken2 newToken = new MyToken2(_name, _symbol, _decimals);

        tokenRegistry[msg.sender] = address(newToken);

[2019-04-08 07:46] inspiration33 commented on #215
it is not drizzzle's problem.
1. I got the same error. This is due to the testprc's gas limit is not enough to process your transaction.
2. you are correct - this error appears when you don't add the "gas" parameter to "send" method. Too bad that it is not documented anywhere...

So the correct method call should be: contract.methods.mymethod.send({from: account, gas: })

let deployTokenKey = driz

[2019-04-08 07:46] #215 closed

[2019-04-08 09:09] JYisus commented on #207
Hi @cds-amal , I solved it restarting the server, i don't know what was wrong, but now it's working.
Thank you for the help!

[2019-04-08 12:08] #207 closed

[2019-04-08 15:18] DiscRiskandBisque commented on #204
Hi Simon, which version of Brave and MetaMask are you on and do you have a repo we can test this with? Thanks!

[2019-04-09 19:18] crisgarner opened #216 "Support for meta transactions"
Meta transaction allows developers to pay the gas fee for users with no balance, the Burner Wallet is a case of success using meta transactions. Implementing meta transactions with drizzle is complicated.

Decentralized relayers are a solution and hope soon is available for everyone, some links:

https://medium.com/tabookey/how-to-make-your-dapp-gasless-da15d4d3cacd

https://github.com/tabookey/ta

[2019-04-10 08:08] youngkidwarrior commented on #130
a

[2019-04-10 08:09] youngkidwarrior commented on #130
So with this change, how are we mapping state to props in our RN components. I'm coming from the perspective that hooks aren't implemented in React Native at the moment. Will we just use the old drizzle Provider?

[2019-04-12 10:23] simondlr commented on #204
Hey @DiscRiskandBisque. It's really hard to reproduce.

MetaMask 6.3.2
Version 0.62.50 Chromium: 73.0.3683.86 (Official Build) (64-bit)
Here's the repo: https://github.com/simondlr/thisartworkisalwaysonsale

Something I discovered is that it sometimes the cache is a bit wonky, which I think is the reason for the above too. If I Switch between Chrome & Brave I would see different results on the pag

[2019-04-12 11:23] in19farkt commented on #71
Any ideas? How to update the "A" balance in drizzle store after calling `transferFrom` from "B" contract?

[2019-04-15 15:33] adrianmcli commented on #216
Meta transactions are still very new. I think they are an important part of Ethereum's future, but I doubt we have the bandwidth to work on that at this point. However, if you would like to work on a PR for experimentation purposes, I'd love to take a look.

[2019-04-15 19:31] pklinger commented on #14
Also can't get this running just like @jklepatch referenced. Can someone please elaborate how to pass in a HttpProvider via drizzleOptions correctly?

[2019-04-16 03:29] crisgarner commented on #216
@adrianmcli I tried to implement it with drizzle a couple of weeks ago. Documentation of taboo key mentions that you just need to update the provider like:

`tabookey = require( 'tabookey-gassless')
provider = new tabookey.RelayProvider(web3.currentProvider, {} }
web3.setProvider(provider) `

I added the new provider as a custom provider in drizzle options and didn't set the new provider. I'll kee

[2019-04-16 22:19] simondlr commented on #204
Hey. So I might have more information.

It seems it is likely MetaMask that's the issue. I found a caching problem and then verified that if I loaded the app through MM, the cache wouldn't update. If it went to the fallback, using websockets, it loaded fine.

The issue with MM was that the block tracker wasn't updating anymore. So it's not a cached call somewhere. It just wasn't getting new blocks

[2019-04-18 02:11] lundrimazemi opened #218 "H"

[2019-04-18 02:13] lundrimazemi opened #219 "H"

[2019-04-18 02:21] #219 closed

[2019-04-18 02:21] #218 closed

[2019-04-18 08:06] adrianmcli commented on #14
To summarize:

It looks like the option of a `customProvider` has already been [added](https://github.com/trufflesuite/drizzle#customprovider-object). However, users are still having trouble passing in their own providers, as @jklepatch has mentioned above. @cds-amal can you take a look at this?

[2019-04-20 07:04] dangell7 commented on #193
@coderwithattitude did you solve this? I just upgraded and got this issue.

[2019-04-20 18:07] cds-amal commented on #193
@dangell7 We're working on upgrading this. Redux-saga 1.0 introduced some breaking changes in regards to some effects that have to be accounted for.

[2019-04-22 10:38] adrianmcli commented on #204
@simondlr Thanks for digging further into this. If you feel the issue is most likely w/ MM, I hope you don't mind if we close this issue for now. Might be worthwhile to link any new issues on other repos to this one though, in case other people are also experiencing a similar problem.

[2019-04-22 10:38] #204 closed

[2019-04-23 03:00] cds-amal commented on #71
@in19farkt ,

You can set the [`syncAlways` option to true in drizzleOptions](https://www.truffleframework.com/docs/drizzle/reference/drizzle-options#-code-syncalways-code-boolean-).

[2019-04-23 03:15] cds-amal commented on #14
@jklepatch Sorry for the late response.

I'm not sure I understand the issue. Drizzle will use the custom provider if it's set in drizzleOptions. If a custom provider is not configured, it will try to see if metamask is injected in the browser and invoke `window.ethereum.enable` to pop the MM modal.

Do you have a repo that demonstrates your issue?

[2019-04-25 11:29] cig1 opened #40 "Drizzle does not initialize with Coinbase Wallet"
I am trying to use Drizzle with Coinbase Wallet (iOS) and it gets stuck at initializing. Metamask and Cipher (iOS) work fine.
I am using the Rinkeby test network and React with these versions:

[code]
Part of my drizzleOptions file:

[code]
index.js

[code]
app:

[code]
I've tried the Coinbase Wallet Discord channel without success and found a post, https://spectrum.chat/trufflesuite/drizzle/drizz

[2019-04-25 11:29] cig1 opened #220 "Drizzle does not initialize with Coinbase Wallet"
I am trying to use Drizzle with Coinbase Wallet (iOS) and it gets stuck at initializing. Metamask and Cipher (iOS) work fine.
I am using the Rinkeby test network and React with these versions:

[code]
Part of my drizzleOptions file:

[code]
index.js

[code]
app:

[code]
I've tried the Coinbase Wallet Discord channel without success and found a post, https://spectrum.chat/trufflesuite/drizzle/drizz

[2019-04-26 09:41] adrianmcli commented on #130
@youngkidwarrior that would be my understanding. No need to rush into hooks atm, IMO.

[2019-04-26 09:45] youngkidwarrior commented on #130
Thanks. I ended up moving away from using a redux store but I had had it working.

[2019-04-26 09:52] adrianmcli commented on #130
@youngkidwarrior That's awesome, not a big fan of redux myself. Do consider using https://github.com/trufflesuite/drizzle-utils

[2019-04-28 09:48] cig1 commented on #40
I found a fix. In src/web3/SagaWeb3.js at initializing I put in a check to see if Coinbase Wallet is used. If so window.web3.currentProvider is used, else the script is run as before.

[code]

[2019-04-28 15:02] cds-amal commented on #40
Hi @cig1,

Thanks for this! Is it possible to share a full repo that shows this issue? The diff shows a test inserted for a custom provider before the MetaMask's test. There is [already a test for custom provider in the Saga](https://github.com/trufflesuite/drizzle/blob/develop/src/web3/web3Saga.js#L31-L37).

I wonder if the tests ordering is the issue.

[2019-04-29 17:03] cds-amal commented on #193
[babel-plugin-redux-saga](https://github.com/redux-saga/redux-saga/tree/master/packages/babel-plugin-redux-saga) promises to produce better errors

[2019-04-29 20:21] dangell7 commented on #193
@cds-amal Are you saying you want me to upgrade and give you the results? Or that maybe its something in my app and not the repo?

[2019-04-29 21:09] cds-amal commented on #193
Sorry @dangell7.  I left this note to remember to investigate that package when we upgrade to Redux-saga 1.0. I believe the way errors are returned from side-effects can be improved with it.

[2019-04-29 22:22] cds-amal commented on #178
@mi-kas I'm closing this issue because the original features can be realized by inspecting the web3 instance when it's resolved.

[2019-04-29 22:22] #178 closed

[2019-04-30 08:53] cig1 commented on #40
Example repo: https://github.com/cig1/drizzle_react_example

To use type 'yarn' to install and 'yarn start' to run. The example site will be available on your local network which you can use on your iPhone to test with Coinbase Wallet.

[2019-04-30 09:01] adrianmcli commented on #40
@cig1 Looks like this could be a good PR opportunity. Also, it looks like your link isn't working.

[2019-04-30 09:11] cig1 commented on #40
The link works now

[2019-04-30 16:03] cds-amal commented on #40
@cig1 Thanks for the repo link!

TIL coinbase injects a toshi provider into `window.ethereum`. ~~I think the fix to this issue would be to invoke ethereum.enable only if ethereum.isMetaMask is truthy.~~

Edit: Learned more about this issue.

[2019-04-30 18:36] #162 closed

[2019-05-04 15:30] cds-amal commented on #40
@cig1 FYI

I tested web3 resolution on IOS with the `status` and `coinbase` apps. Drizzle works with status but doesn't resolve with coinbase. I suspect the coinbase browser does something different when it comes to assigning context for  redux-saga's `Call`effect. I was able to get the code to work by explicitly declaring a context to the `Call` effect. Curious that it is the only dapp browser (s

[2019-05-04 19:19] n1c01a5 commented on #162
I have also this error. I tried to update web3 to the beta 53 version but it does not fix this issue.

[2019-05-06 22:52] cds-amal commented on #40
@cig1 FYI, I'm working on this issue, which you can follow on the [fix/coinbase-init-web3 branch](https://github.com/trufflesuite/drizzle/tree/fix/coinbase-init-web3), and you can test with [this repo](https://github.com/cds-amal/drizzle_react_example/tree/drizzle-220)

[2019-05-13 04:56] pensivej opened #223 "Question: Can I generateStore() with extra initialState?"
Hi, I am trying to initialize drizzle store with my custom initial states
[code]
In _generateStore()_ , there is no way to pass down the initialState.

[2019-05-13 09:22] cds-amal commented on #223
Hi @pensivej,

There isn't a way to set an initialState for a contract field. This is calculated from a [contract's abi](https://github.com/trufflesuite/drizzle/blob/develop/src/contractStateUtils.js#L8-L19).

Drizzle does, however, support passing custom middle-wares, reducers and sagas to be managed by its redux instance. If this is your use case, you can define the initial state by setting the

[2019-05-13 19:53] barlock commented on #168
I've just experienced a really weird one. Using saga 1.x, none of my saga's are called.

[code]

When I downgrade to 0.16 it works as expected.

[2019-05-13 20:31] cds-amal commented on #168
Thanks for reporting this @barlock. [redux-sagas 1.0 introduced breaking changes](https://github.com/redux-saga/redux-saga/releases/tag/v1.0.0) and we're investigating a migration path. Sorry for the inconvenience!

[2019-05-14 01:56] appkery commented on #173
Try to set the custom RPC on metamask to http://localhost:9454.

[2019-05-14 17:20] #181 closed

[2019-05-14 21:34] rawfalafel commented on #192
Bump. I opened a PR for this issue that hasn’t been addressed. Thanks :)

[2019-05-14 21:43] #192 closed

[2019-05-14 22:22] #198 closed

[2019-05-21 06:18] PathumLakshan opened #225 "drizzle installation Error"
I just followed [tutorial](https://truffleframework.com/tutorials/getting-started-with-drizzle-and-react#full-component-code) from truffle official page, once i tried to install drizzle with `npm install drizzle` it ended up with following errors,

E:\Dev\drizzle-react-tutorial\client\node_modules\scrypt>if not defined npm_config_node_gyp (node "C:\Program Files\nodejs\node_modules\npm\node_module

[2019-05-21 13:32] adrianmcli commented on #225
Seems to be an issue with Scrypt not building properly on your Node version. Can you try running it on the latest v11 Node?

[2019-05-22 13:11] PathumLakshan commented on #225
@adrianmcli okay i'll try.

[2019-05-22 13:44] PathumLakshan commented on #225
node 12 installed and yet installation fails with new error,

E:\Dev\drizzle-react-tutorial\client\node_modules\keccak>if not defined npm_config_node_gyp (node "C:\Program Files\nodejs\node_modules\npm\node_modules\npm-lifecycle\node-gyp-bin\\..\..\node_modules\node-gyp\bin\node-gyp.js" rebuild )  else (node "C:\Program Files\nodejs\node_modules\npm\node_modules\node-gyp\bin\node-gyp.js" rebuild )

[2019-05-22 16:55] adrianmcli commented on #225
I think you misread my last comment. I suggested to try Node v11, not v12.

[2019-05-22 17:24] PathumLakshan commented on #225
i thought node 12v do better, it seems i wrong. althoug installation is success. Thanks @adrianmcli

[2019-05-22 17:24] #225 closed

[2019-05-24 12:16] d0na opened #7 "Listening multiple contracts events lets Drizzle Events produce multiple firing events , one for each Contract presents in the drizzleOptions files."
Using the code described in the tutorial [DRIZZLE AND CONTRACT EVENTS](https://truffleframework.com/tutorials/drizzle-and-contract-events) I verified a strange behavior if I set up more than one contract (with related events to watch)  inside the `drizzleOptions.js`.

It's seems in fact that the EVENT_FIRED by Drizzle are replicated one per each contracts set up in the `drizzle_options.js` file.

[2019-05-24 12:16] d0na opened #226 "Listening multiple contracts events lets Drizzle Events produce multiple firing events , one per each Contract presents in the drizzleOptions files."
Using the code described in the tutorial [DRIZZLE AND CONTRACT EVENTS](https://truffleframework.com/tutorials/drizzle-and-contract-events) I verified a strange behavior if I set up more than one contract (with related events to watch)  inside the `drizzleOptions.js`.

It's seems in fact that the EVENT_FIRED by Drizzle are replicated one per each contracts set up in the `drizzle_options.js` file.

[2019-05-24 13:24] cds-amal commented on #223
Hi @pensivej. I will close this issue, but please feel free to reopen if you would like to continue the discussion.

[2019-05-24 13:24] #223 closed

[2019-05-26 12:52] cds-amal commented on #7
@d0na That is not expected behavior. Thanks for reporting this! I'll update this thread with my findings.

[2019-05-28 09:25] j-mars commented on #193
Hi, to what extent is this issue being clarified? I am getting the same error when trying to combine my redux store with drizzle's store. Front-end project is using redux-saga 1.0.1 dependency.

[2019-05-28 09:54] #199 closed

[2019-05-29 01:10] cds-amal commented on #7
@dona ~I think this a web3 1.0 issue and wanted to upgrade from web3 1.0.0-beta.35 to the latest version to test, but there are breaking changes in the beta releases.  I'll code up a sample outside of drizzle to test this theory against the latest beta and take it from there.~

Edit: Seems to be an issue with MetaMask's provider

[2019-05-29 03:33] cds-amal commented on #7
I created a vanilla JS test that loads two deployed contracts via web3 and registered as a listener for their events. I then updated a contract state via the drizzle-event-demo and saw the same issue (without the drizzle framework) for web3@1.0.0-beta.35, the version drizzle is pinned at, as well as beta.55, the latest.

This could be an issue with MetaMask provider and/or web3. I'll continue inve

[2019-05-29 17:23] cds-amal commented on #7
It may be related to MetaMask. I wrote a test app to see the behavior of interacting with web3 with MetaMask (regular chrome browser) and sans Metamask (incognito chrome browser). With metaMask, you can see the duplicate events fired.

The test loads two contracts, SimpleStorage and DimpleStorage (don't judge!) where a contract event is emitted whenever the storage value is set; events SimpleSet a

[2019-05-30 13:26] cds-amal commented on #7
[Raised an issue with MetaMask](https://github.com/MetaMask/metamask-extension/issues/6668)

[2019-05-30 13:28] d0na commented on #7
@cds-amal many thanks for your work.

[2019-06-02 13:03] bergkvist opened #227 "Support for Typescript"
It would be really helpful if drizzle had typescript declarations.

Not only for people using Typescript/React with Typescript, but it would also improve the experience for anyone developing in VSCode (intellisense).

[2019-06-02 15:50] mwaeckerlin commented on #155
Is there no nice solution?

[2019-06-02 22:15] n1c01a5 opened #228 "Fallback issue with infura ws"
I have some trouble with the drizzle fallback.

I have this error:
[code]

Here is my fallback options configuration for `drizzle`:
[code]

How I can fix this?

[2019-06-02 23:38] cds-amal commented on #228
@n1c01a5 This is a shot in the dark, but did you substitute the appropriate value for `<project_id>` according to the [Infura Documentation](https://infura.io/docs/gettingStarted/authentication)?

[2019-06-03 09:30] n1c01a5 commented on #228
@cds-amal of course I set up the the <project_id> (I put this intentionally).
Yes it's the same issue than #186.

[2019-06-03 09:30] #228 closed

[2019-06-03 14:16] jklepatch opened #44 "Create tests for the vuex store"

[2019-06-03 15:08] adrianmcli commented on #227
That's a great idea, we would love to see a PR. But do keep in mind that things are still in flux and the library might have some significant changes by the time you submit a PR for this.

[2019-06-04 10:29] j-mars commented on #155
Looking for the exact same answer. My dapp dynamically adds contracts but I need to know when I can make a cacheCall to retrieve their data. Must we do the timer trick as described by @rahulmutt ?

[2019-06-04 14:31] j-mars opened #229 "Calling cacheCall on a contract method which returns a struct gives an error - Web3 related"
Calling cacheCall on a contract method that should return a struct gives the following error:
`Invalid solidity type: tuple
    at ABICoder._requireType (index.js:74)
    at eval (index.js:100)`

Digging a bit, seems the issue is related to Web3 and was fixed in the 1.0.0-beta.36 release, as described in [https://ethereum.stackexchange.com/questions/36229/invalid-solidity-type-tuple](url) and [htt

[2019-06-05 04:55] cds-amal commented on #229
@j-mars we had to pin to web3 1.0.0-beta.35 because of breaking changes in web3 and we're awaiting a resolution.

[2019-06-05 17:24] cds-amal commented on #155
@rahulmutt Thanks for staying on this and apologies for the delayed response.

I discussed your proposal with @adrianmcli and we like your stable API callback idea as it has minimal impact and isn't coupled to the drizzle internals.

Please, we would love to see a PR for this issue and thanks again.

[2019-06-07 00:53] dannycarrera opened #230 "If user denies access through MetaMask (6.6.0+) drizzle does not fail gracefully"
With MetaMask 6.5.3, when user denied access, drizzleStatus was set to initialized but no accountBalances were available. (initializeWeb3 still returned a web3 instance)

Since MetaMask 6.6.0, multiple errors get thrown and no web3 instance is returned. Now there is no way to differentiate between no web3 provider and user denying access.

This also breaks the LoadingContainer of dependent project

[2019-06-10 18:42] #191 closed

[2019-06-11 10:33] elliotolds commented on #40
We've been trying to get our app to work in Coinbase Wallet by using the fix/coinbase-init-web3 branch referred to above, and have been unsuccessful so far.

We created a super simple test app that uses Drizzle the same way our code does. We describe how to repro Drizzle failing to load in Coinbase Wallet in the README here: https://github.com/ethereumgeek/simple_drizzle

Our code is base on https

[2019-06-11 10:41] adrianmcli commented on #40
@elliotolds @cds-amal's example repo uses the new Context API introduced in React 16.3 (with the Render Props pattern). Since React is deprecating the old Context API by v17, this is now the recommended way.

Admittedly, the Drizzle Box is a bit outdated. Thanks for bringing this to our attention. @cds-amal let's work on updating the Drizzle Box this or next week. And feel free to provide more com

[2019-06-20 23:57] ethereumgeek commented on #40
We updated our project to use DrizzleContext and everything works great when running locally with `npm run start`.

However, UglifyJS fails in our production build (with `npm run build`) after updating from `"drizzle-react": "^1.1.1"` to `"drizzle-react": "^1.3.0"`. It seems to be complaining that drizzle-react has some ES6 code.

The specific error we get when updating to `drizzle-react": "^1.3.0

[2019-06-21 15:51] cliffhall commented on #146
@DiscRiskandBisque Really, so since I wasn't able to specify the exact implementation for this fix that's obviously needed, you're going to close the bug? If you re-open it, I'll look at it and try to fix it myself.

[2019-06-22 01:51] adrianmcli commented on #146
The issue was marked as stale last week by the stalebot. We definitely welcome any PRs or discussions for feature additions.

[2019-06-22 04:22] #216 closed

[2019-06-23 23:26] ethereumgeek commented on #40
I've updated our project to use the `react-scripts` instead of the webpack build scripts from `https://github.com/truffle-box/drizzle-box`. I also removed web3 from being an explicit dependency in our package.json file.

I'm now able to get our Drizzle project working with Coinbase Wallet by linking https://github.com/cds-amal/drizzle_react_example/tree/drizzle-220 after the above changes.

I thin

[2019-06-29 05:55] #71 closed

[2019-07-02 18:57] SeanJCasey opened #34 "Unnecessary contractCreatorSpy in tests"
There's an unnecessary `contractCreatorSpy` used to instantiate `drizzle.web3` in `api.test.js` and `middleware.test.js`

E.g., in `api.test.js` line 28-32:

[code]

[2019-07-02 18:57] SeanJCasey opened #234 "Unnecessary contractCreatorSpy in tests"
There's an unnecessary `contractCreatorSpy` used to instantiate `drizzle.web3` in `api.test.js` and `middleware.test.js`

E.g., in `api.test.js` line 28-32:

[code]

[2019-07-10 17:23] EvanTedesco opened #236 "Calling a contract function that returns a boolean always returns 0."
I am trying to call this contract function:

` function validDelegate(address identity, bytes32 delegateType, address delegate) public view
     returns(bool)
{
      uint validity = delegates[identity][keccak256(delegateType)][delegate];
      return (validity > now);
}`
My calling code is :
` const foo = contract.methods['validDelegate'].cacheCall(drizzleState.accounts[0], delegateType, candidat

[2019-07-10 18:01] #236 closed

[2019-07-17 04:10] ankuredkie opened #22 "Drizzle dependency on github because of Web3 v1.0.0-beta35"
Web3 v1.0.0-beta35 version depends on git://github.com/frozeman/WebSocket-Node.git up until version beta52.
Because of this npm install for drizzle fails within enterprise environments where remote git downloads are blocked and only internal proxied npm repo is allowed.

[2019-07-17 04:10] ankuredkie opened #237 "Drizzle dependency on github because of Web3 v1.0.0-beta35"
Web3 v1.0.0-beta35 version depends on git://github.com/frozeman/WebSocket-Node.git up until version beta52.
Because of this npm install for drizzle fails within enterprise environments where remote git downloads are blocked and only internal proxied npm repo is allowed.

[2019-07-18 08:55] ceskmcfran commented on #173
I got a similar error and this is what I did:
1. `npm i web3@1.0.0-beta.37` in my client folder (where react is running)
2. Open Ganache and run `truffle console` instead of `truffle develop`
3. Reinstall Metamask
4. Add a new "custom RPC" in Metamask with the configuration of Ganache
5. Change Metamask to the custom rpc
6. Restart the React App

[2019-07-19 09:53] cds-amal opened #45 "Bump dependencies versions"
Update all the minor versions, and fix any audit issues.
You can do an audit by running `npm audit` which will dump an epic length summary.
`npm audit | grep -i "^# run" | cut -d " " -f "3-8"` will filter out actions to run

[2019-07-19 21:56] #168 closed

[2019-07-22 07:00] nehaagarwal0719 commented on #173
[
![Screenshot from 2019-07-22 11-11-24](https://user-images.githubusercontent.com/33524234/61612501-6ad86700-ac7c-11e9-9941-b295bc74aa33.png)
](url)

I am getting this error, I have tried 1.0.0-beta.37 and 1.0.0-beta.35

[2019-07-22 17:19] adrianmcli commented on #173
I've revisited the issue and fixed a port number issue with the Truffle box here: https://github.com/truffle-box/drizzle-box/commit/ebaee389281db9e61ab39a2832e307c0c4447c06

Please try again and let me know if you have issues.

[2019-07-23 05:41] nehaagarwal0719 commented on #173
My port number was already 8545. I am attaching major portions of code -

My contract Storage.sol -

pragma solidity ^0.5.0;

contract Storage {
  string public data;

  function getData() view external returns(string memory) {
    return data;
  }

  function setData(string calldata _data) external{
    data=_data;
  }
}
My drizzleOptions.js

import Storage from './contracts/Storage.json';
const

[2019-07-23 10:21] adrianmcli commented on #173
@nehaagarwal0719 And you are certain that your MetaMask is set to `http://127.0.0.1:8545`? Have you tried running without MetaMask (i.e. in incognito mode)? I'm going to need a reproduction repo from you if you want me to debug this with you.

[2019-07-23 13:22] nehaagarwal0719 commented on #173
@adrianmcli ,yes, my metamask is running on 8545. I would be thankful if you could see my code here - https://github.com/nehaagarwal0719/Drizzle-React/tree/master

[2019-07-23 15:36] ceskmcfran commented on #173
Try to follow my last comment. Thats the way I fix that error.

[2019-07-23 15:38] nehaagarwal0719 commented on #173
@ceskmcfran  I tried the same but it doesn't work for me.

[2019-07-23 20:53] greenkeeper[bot] opened #1 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on Greenkeeper branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI stat

[2019-07-29 10:00] adrianmcli commented on #173
@nehaagarwal0719 Looks like you have a typo here: https://github.com/nehaagarwal0719/Drizzle-React/blob/master/app/src/drizzleOptions.js#L7

Instead of:

[code]

It should be:

[code]

Note the use of a colon (`:`) instead of a period (`.`).

[2019-08-02 17:59] RobinReborn opened #4 "AccountData - accounts and accountBalances are supposed to be arrays but are reduced into objects"
I get this warning in react - I have fixed it by modifying AccountData.js and using it locally.

[2019-08-02 22:31] adrianmcli commented on #4
This is a bug and it requires 2 realizations:

1. `accounts` should be an array, but it currently isn't.
2. `accountBalances` should be an object, since it is keyed by addresses and that makes perfect sense.

# Problem

1. This [line](https://github.com/trufflesuite/drizzle-suite/blob/develop/packages/store/src/accounts/accountsReducer.js#L9) in the `accountsReducer` uses `Object.assign` instead o

[2019-08-02 23:33] adrianmcli commented on #4
After some discussion with @cds-amal, we decided to loosen the restraints on the React-Component PropTypes rather than changing the reducer. This is because we don't want to cause any breaking changes without a large version bump.

Therefore, new (temporary) solution is to change from [this](https://github.com/trufflesuite/drizzle-suite/blob/develop/packages/react-components/src/AccountData.js#L67

[2019-08-03 11:19] #193 closed

[2019-08-06 14:23] bergkvist commented on #22
Related: https://github.com/ethereum/web3.js/issues/2863

This has been fixed in web3, but drizzle still needs to update dependency versions.

[2019-08-06 17:38] adrianmcli commented on #22
@bergkvist Thanks for the ping. We are in the process of moving to a mono-repo and will be including the new v1.2.1 Web3.js as soon as possible!

[2019-08-06 18:58] #4 closed, assigned to nobody

[2019-08-09 16:01] #227 closed

[2019-08-11 05:28] #229 closed

[2019-08-11 18:28] #155 closed

[2019-08-12 09:16] KorbinianK commented on #14
@cds-amal Try the official drizzle-box. I just ran into the same issue, Metamask keeps popping up even though a custom provider is available. I added a customProvider in drizzleOptions.js as seen below:

[code]

How can I prevent this from happening?

[2019-08-14 01:42] #230 closed

[2019-08-17 14:33] cds-amal commented on #9
@SeanJCasey, when you have time,  please update the README and the test-apps to reflect/document this feature. I am excited to try this out! Thanks!

[2019-08-20 15:04] hanhan0123 opened #241 "Failed to compile. Module not found: Can't resolve 'drizzle'"
I am working on GETTING STARTED WITH DRIZZLE AND REACT and in step [Set Up the Store](https://www.trufflesuite.com/tutorials/getting-started-with-drizzle-and-react#setup-the-store). localhost:3000 opened correctly, but whenever I add a given code to client/src/index.js, error below comes up.

**Failed to compile.
./src/index.js
Module not found: Can't resolve 'drizzle' in '/Users/****/drizzle-reac

[2019-08-21 13:06] cds-amal commented on #241
@hanhan0123 this could happen If drizzle isn't installed in the **_client_** folder. Can you verify it was installed there?

[2019-08-21 13:14] hanhan0123 commented on #241
Yes, It is installed. location: /Users/****/drizzle-react-tutorial.
<img width="404" alt="스크린샷 2019-08-21 오전 9 11 13" src="https://user-images.githubusercontent.com/53050856/63434925-fb2cd780-c3f3-11e9-9021-fc57d74ee8f0.png">

[2019-08-21 16:18] cds-amal commented on #241
@hanhan0123, I'm unable to tell if drizzle is installed in the correct location from the image. You can verify this by the existence of this folder: **_/Users/****/drizzle-react-tutorial/client/node_modules/drizzle_**.

If that path doesn't exist, you can fix by running `npm install drizzle` from the client folder (/Users/****/drizzle-react-tutorial/client), and restarting your app/dev server.

If

[2019-08-21 16:52] hanhan0123 commented on #241
@cds-amal Oh, I am sorry. I misread and thought you were asking to verify if the client folder exists.
No, drizzle is not installed in Users/****/drizzle-react-tutorial/client/node_modules/drizzle.

So, here's what I did.
If I run **npm install drizzle**,  this error shows.

<img width="623" alt="npm install drizzle" src="https://user-images.githubusercontent.com/53050856/63450893-093d2100-c411-11

[2019-08-23 06:10] jack0son commented on #14
@KorbinianK I'm working on this same issue right now. I'll let you know if I find a solution.

[2019-08-23 16:35] adrianmcli commented on #14
Let's re-open this for now. We are moving to a mono-repo soon and will probably move this issue over there.

[2019-08-24 23:41] SeanJCasey commented on #9
Update the test app for the react context api with a `LoadingContainer`. We can add the overrides for this component at a later time. The README reflects the new props for this component.

[2019-08-27 18:40] OliveIT commented on #14
I just faced the same issue and I'm super glad to see @cds-amal has made PR 1 hour ago.
I wish @adrianmcli to approve this PR soon.
BTW Is drizzle v1.5.0 officially released with web3js v1.2.1?

[2019-08-27 20:10] cds-amal commented on #14
@OliveIT [web3@"^1.2.1" was merged into develop](https://github.com/trufflesuite/drizzle/pull/11) and will be in the next release (soon).

[2019-08-28 02:41] #146 closed

[2019-08-28 16:17] cds-amal opened #16 "Undefined constant in web3Saga"
@drizzle/store: WARNING in ./src/web3/web3Saga.js 86:18-35
@drizzle/store: "export 'WEB3_ERROR' (imported as 'Action') was not found in './constants'
@drizzle/store:  @ ./src/drizzleStatus/drizzleStatusSaga.js
@drizzle/store:  @ ./src/index.js
@drizzle/store: Done in 4.58s.

[2019-09-07 19:31] #234 closed

[2019-09-09 13:43] jklepatch opened #20 "Allow Dapp to initiate connection to Web3"
Currently, when Drizzle is loaded, it automatically tries to connect to Web3.

What we should do is allow Dapp developer to specify when Drizzle should try to connect to Web3.

More specifically, when we create the drizzle object, it doesn't kickstart the connection process. Instead, it waits for a `start()` method to be executed.

[2019-09-14 17:07] #16 closed, assigned to nobody

[2019-09-14 17:41] adrianmcli commented on #9
@SeanJCasey I'm having trouble running this on the test-UI apps. I have:

1. Pulled the branch,
2. Ran `lerna bootstrap`,
3. And put the app on a network where the contracts are not deployed.

I'm getting the following error on both React apps (legacy context AND new context) instead of the nice warning message:

<img width="495" alt="Screen Shot 2019-09-15 at 2 39 25 AM" src="https://user-images.

[2019-09-14 17:43] adrianmcli commented on #17
@cds-amal looks pretty good, but there are so many scripts that I think your explanations (like what you have written above) should probably be added to a README somewhere.

[2019-09-14 18:32] SeanJCasey commented on #9
@adrianmcli Did you set `networkWhitelist` in `drizzleOptions`? If the option is absent, it will default to `[]`, which means all networks are approved.

[2019-09-14 18:50] adrianmcli commented on #9
@SeanJCasey Can you add that to the test-UI app then?

[2019-09-14 20:34] SeanJCasey commented on #9
@adrianmcli Sure, I can add a `networkWhitelist` config option with values if that's what you mean. So long as you're sure it won't trip people up to have particular networks blocked. What networks do you want to be enabled?

[2019-09-14 21:12] adrianmcli commented on #9
@SeanJCasey I think the goal is to make sure that the repo's test apps are actually able to test the features in our packages. Do you have any thoughts on what the defaults should be?

[2019-09-14 21:22] SeanJCasey commented on #9
@adrianmcli How about `[1, 4]` (Mainnet, Rinkeby) for the allowed networks? Then Ropsten etc will catch the network mismatch. Ganache is allowed by default, regardless of the values in the array.

[2019-09-15 17:16] adrianmcli commented on #9
Actually I'm confused. Why is a network whitelist needed? I thought the purpose of this PR is to make it such that the dapp will try to detect the contract on the current network, and if it isn't there then it'll show a friendly message in the UI.

[2019-09-16 03:07] SeanJCasey commented on #9
The purpose of this PR is to allow the LoadingContainer to work with the `networkWhitelist` option that was merged previously. This blog post details and has links to both that PR and this one: http://seanjcasey.com/blog/drizzle-network-whitelist

Good question re: explicitly defining a `networkWhitelist` rather than reading from `contracts` or catching an error. @cds-amal and I discussed this and

[2019-09-16 09:22] adrianmcli commented on #9
Right, but if it doesn't support it, it should display a message instead of throwing an error in the console right?

[2019-09-16 12:23] SeanJCasey commented on #9
Yes, but the idea was to separate out functionality and UI/UX. Rather than assuming UI/UX, we just provide a developer with the `networkMismatch` flag that is produced when the provider is connected to a network that is not in the `networkWhitelist`. LoadingContainer then serves as a sample UI implementation.

[2019-09-17 01:53] cds-amal commented on #20
This is definitely a better UX @jklepatch. Let's spec it out.

[2019-09-18 03:40] DiscRisknBisque commented on #20
For optimal UX we could consider a read-only connection as the default so the dApp UI will populate, assuming it's only calls.

Take [Ethlance](https://ethlance.com/#/find/work) for example: ideally users could view job postings without having to connect a wallet. Then, only if they want to actually bid on or post a job (make a state change), is wallet access requested.

[2019-09-18 13:25] cds-amal commented on #20
The motivation for this issue was the UX interruption caused by automatically connecting to the wallet. @DiscRiskandBisque's suggestion solves this and allows for content to be read from the blockchain which may be necessary to present a view to the client.

[2019-09-19 14:46] adrianmcli commented on #9
@SeanJCasey Ok sounds good. So let's just put in the `[1, 4]` and let's see where we go.

[2019-09-20 19:00] cds-amal opened #24 "vue-plugin not marshaling methodArgs"
When calling a constant/view function that takes arguments the vue-plugin does not marshal the methodArgs parameter through to drizzle.

### Contract

[code]

### Client Code
[code]

[2019-09-20 22:26] SeanJCasey commented on #9
@adrianmcli I added the `networkWhitelist` to react redux and context test uis and squashed into the `feat` commit. Tested those two flows. We should be good to go!

[2019-09-21 12:29] cds-amal commented on #24
Works as expected with latest codebase.

[2019-09-21 12:29] #24 closed, assigned to nobody

[2019-09-21 12:57] adrianmcli commented on #25
lgtm

[2019-09-21 17:45] KorbinianK opened #26 "please delete."
edit: please delete.

[2019-09-21 18:32] #26 closed, assigned to nobody

[2019-09-21 20:04] adrianmcli commented on #9
Thanks @SeanJCasey, I'm on vacation until Tuesday unfortunately but let's get this merged asap.

[2019-09-22 10:53] KorbinianK opened #27 "Catching "authentication needed: password or unlock" error with drizzle?"
How do I catch the `Error: Returned error: authentication needed: password or unlock` with drizzle correctly?

**Note: I am not using MetaMask but a customProvider in drizzleOptions.**
I know MetaMask handles this usually.

If a transaction is sent and the account is not unlocked, there is no way to catch the error with drizzle.
The transaction only gets a "hash" like `TEMP_1569148036244` on the t

[2019-09-23 13:29] jklepatch commented on #20
Here is my proposal, taking @DiscRiskandBisque suggestion into consideration:

1. Let Drizzle initialize automatically when `Drizzle` is instantiated
2. Remove the call to `enable()` in the `DRIZZLE_INITIALIZING` saga
3. Replace the single drizzle status `ready` to 2 statuses: `[DRIZZLE_READ_READY, DRIZZLE_WRITE_READY]`. Any attempt to send a transaction before we have `DRIZZLE_WRITE_READY` will t

[2019-09-23 19:19] DiscRisknBisque commented on #20
LGTM @jklepatch thank you!

Potential method names: `connectWallet()`, `requestWallet()`.

[2019-09-24 13:28] SeanJCasey opened #32 "Add support for `autoRefreshOnNetworkChange` deprecation in Metamask"
<img width="674" alt="Screen Shot 2019-09-24 at 10 24 14 PM" src="https://user-images.githubusercontent.com/4407542/65515333-1078b280-df1a-11e9-9390-da2cf1b688b6.png">

Metamask is getting rid of the `ethereum.autoRefreshOnNetworkChange` property, and suggesting that dApps rely on the `ethereum.on("networkChange", callback)` listener instead.

https://metamask.github.io/metamask-docs/API_Reference

[2019-09-25 10:28] cds-amal commented on #27
@KorbinianK do you have a sample repo you could share? I'll try to reproduce it in the mean time.

[2019-09-25 19:46] cds-amal commented on #9
Just adding a note that this resolves #23

[2019-09-25 19:54] cds-amal commented on #32
Thanks for raising this @SeanJCasey.

Yes, Drizzle will have to implement this listener.

[These lines of code](https://bit.ly/2mIicU1) currently repair the contracts when a network change is detected. Though with the observable model Metamask proposes, we'll have to revisit.

[2019-09-25 20:03] cds-amal commented on #27
This is an interesting use case and I think Drizzle should forward errors from any provider it is using and resolve failed transactions from our outstanding stack. @DiscRiskandBisque, @adrianmcli, what do you think?

[2019-09-25 21:25] cds-amal commented on #11
This pr closed #22

[2019-09-25 21:25] #22 closed, assigned to nobody

[2019-09-26 14:39] adrianmcli commented on #27
@KorbinianK A reproduction repo would really help, but also I wanted to ask what provider you are using?

[2019-09-26 14:43] adrianmcli commented on #31
Thanks for the PR! I recall from a while back that we actually changed this to include the `src` for some reason. I can't remember what that reason is though, so maybe give us a bit of time to look into this. Thanks again!

[2019-09-26 17:33] KorbinianK commented on #27
@adrianmcli @cds-amal I created a project based on the drizzlebox to replicate this issue, and it worked. I correctly got a transaction in the stack:

[code]
Then I tried in my original project again, and it worked there too. I have no idea what caused the transaction to be missing previously.

Setup: Local PoA testchain with a few sealer nodes.
Custom provider as per last PR that added this.
I wi

[2019-09-26 20:07] cds-amal commented on #35
Revisiting this I want to make sure we add exposing the underlying connection library if necessary

[2019-09-26 20:09] cds-amal commented on #38
For 2.0 consideration

[2019-09-26 20:11] cds-amal commented on #39
For 2.0 consideration

[2019-09-27 07:27] adrianmcli commented on #31
Found it! We need `src` to be published for React Native support: https://github.com/trufflesuite/drizzle-legacy/issues/130

But that being said, we could take out a bunch of the other stuff.

[2019-09-27 07:28] adrianmcli commented on #30
@honestbonsai Do you think you can look at this when you have time?

[2019-09-27 07:34] adrianmcli commented on #28
Looks good to me, thanks @MrRefactoring!!!

[2019-09-28 10:04] MrRefactoring commented on #31
This is a good use case. Remove src from npmignore

[2019-09-28 10:14] adrianmcli commented on #31
lgtm, thanks!

[2019-09-30 21:33] adrianmcli commented on #30
Thanks @honestbonsai and @MrRefactoring!

[2019-10-01 08:29] adrianmcli commented on #9
Seems to work as expected! Thanks @SeanJCasey

[2019-10-01 08:47] adrianmcli commented on #9
@SeanJCasey I've went ahead and refactored `LoadingContainer.js`:

[code]

[2019-10-01 08:56] SeanJCasey commented on #9
Hey @adrianmcli , cool please do refactor as you see fit. I just copy/pasted/edited from the redux LoadingContainer for stylistic congruence (i.e., I implemented the `networkMismatchComp` the same way that the `loadingComp` and `errorComp` were already implemented), so if you refactor the `new-context-api` component, you might want to do so for the redux version as well.

[2019-10-01 09:28] adrianmcli commented on #9
@SeanJCasey On second glance, it appears my testing of the UIs failed. It doesn't recognize and allow Ganache because Ganache doesn't have a stable network ID of 5557 as this [line](https://github.com/trufflesuite/drizzle/blob/develop/packages/store/src/web3/constants.js#L16) assumes.

Context:

[2019-10-01 09:41] SeanJCasey commented on #9
@adrianmcli Hmm, interesting. I'll need to summon and defer to @cds-amal . We came to the conclusion that allowing port 5777 should (almost?) always be sufficient. Even if it isn't, we just need to make an addition to the readme that port 5777 is always allowed, but any custom ports need to be added (which might be obvious anyways if the user defines the `networkMismatch` config var).

[2019-10-06 19:26] GiovanniCapizzi opened #46 "cannot install drizzle on macos and windows"
I can't add drizzle to my project because of `scrypt module` which fails to build. Already found [this](https://github.com/barrysteyn/node-scrypt/issues/192#issuecomment-493670818), and it seems to happen with NodeJs 12.  I wouldn't like to try with Node10 because scrypt doesn't seems to be manteined [anymore](https://github.com/barrysteyn/node-scrypt), is there hope for new fix soon?

[code]

[2019-10-07 13:29] jklepatch commented on #46
This does not seem to be a problem with Drizzle directly, but with the scrypt dependency of `web3`.

Not sure to understand why you don't want to try with NodeJS 10. NodeJS is the LTS (Long Term Support) version of NodeJS and for most cases it's the recommended version.

[2019-10-07 15:10] GiovanniCapizzi commented on #46
Yes, I am sorry, I was not so clear, my request was addressed to know if this dependency would be upgraded soon, [Scrypt](https://github.com/barrysteyn/node-scrypt) has been deprecated, so if I downgrade NodeJS, it would work only for that version and I won't be able to upgrade only for one package, in the future. I asked for future maintainability of a new project.

UPDATE:
I didn't see that was

[2019-10-07 15:27] jklepatch commented on #46
Can you try with the latest version of Drizzle(in your package.json you can point to the latest commit of this repo).

Drizzle has updated to `web3 `1.2.1` (not released to npm yet), and it might solve your problem.

[2019-10-07 19:39] GiovanniCapizzi commented on #46
With yarn or npm I get this error:
`error Can't add "root": invalid package version undefined.`
Is it because package.json doesn't not specify a version?

[2019-10-08 02:15] jklepatch commented on #46
What did you put exactly in your package.json?

[2019-10-08 07:11] GiovanniCapizzi commented on #46
I tried with "yarn add" command. Same result if I put "package":"git://...#commit" in the package.json.

If I install it with NPM it gets a webpack error. I can't put any logs here because I am without my laptop right now, sorry.

[2019-10-10 18:19] cds-amal commented on #47
Deploying to rinkeby or ropsten depends on setting up the infura endpoints, as well as a mnemonic. It expects the same mnemonic for both testnets.

[2019-10-11 11:05] cds-amal commented on #46
@GiovanniCapizzi can you provide a repo that demonstrates the issue? It would be helpful for us to investigate.

[2019-10-13 18:30] GiovanniCapizzi commented on #46
Just following this [tutorial](https://www.trufflesuite.com/tutorials/getting-started-with-drizzle-and-react#install-drizzle). If you want to reproduce the issue just create a simple node (12) project (like react) and issue the yarn add command. If you want I can prepare and upload a repo for you, just let me know.

[2019-10-14 17:28] eloudsa opened #48 "Polls->account: intempestive refresh"
Hi

I'm using Drizzle 1.5 on a React 16.10 project using hooks.
I want to easily detect account's switches on Metamask in order to properly update my Dapp with the data retrieved from my contract for the current account.
When I use a polls on account, I saw intempestive refresh of my component even if my account has not changed.

Do you have any clue (or sample) showing how to use this polls->acco

[2019-10-15 23:18] cds-amal commented on #48
Hi @eloudsa, I wish I had a better answer for you. At the moment, @drizzle/store does not incorporate subscription on `window.ethereum`, but it should going forward. @adrianmcli @DiscRiskandBisque thoughts?

@eloudsa. please give me some time to review the scope of this work and I will comment with updates.

[2019-10-15 23:22] cds-amal commented on #46
Hi @GiovanniCapizzi,

Interesting that it fails on node v12.x.x for both Windows and OS X.
Can you specify some details about your environment to help us reproduce this issue?
- version of node (eg v12.12.0)
- Windows Version, and environment. Are you using Windows Subsystem for Linux (WSL)?

Thanks in advance!

[2019-10-18 08:57] msicilia commented on #46
I have same issue with MacOS Catalina 10.15.
- My version of node is v12.12.0
- Here a link to the output:
https://gist.github.com/msicilia/6fbf58bd6410499fb3eb7e28111da479

I know I can revert to Node 10 and it works, but it would be great to have a fix for Node 12 soon.

Many thanks in advance.

[2019-10-18 11:32] cds-amal commented on #46
Thank you @msicilia, this is quite helpful!

[2019-10-18 19:12] GiovanniCapizzi commented on #46
Really sorry I forgot to answer due to work.
On MacOS with Catalina now, my Node version is v12.11.1.
On Windows I have 12.10.0 without using WSL.
No particularly environment used, just the windows-build-tools installed in Node to build stuffs.

[2019-10-20 08:31] eloudsa opened #49 "Error message not available"
Hi

I'm using Drizzle 1.5 within a React project 16.10.x.

My contract uses `require` function calls and returns convenient error messages:
`require(msg.send == owner, 'Only allowed to the contract owner')`

When I call my function with Drizzle and catch errors, I'm not able to get the user-friendly error message returned through the `require` call, but instead I got JSON-RPC error.

Have you noti

[2019-10-21 15:14] cds-amal commented on #46
Thanks @GiovanniCapizzi ! I'll work on reproducing this on OS X with your versions. Please note, that for now, we only support WSL windows build environment.

[2019-10-23 02:32] IlgizZ commented on #49
I think it is not about drizzle, [web3 doesn't provide error message](https://github.com/ethereum/web3.js/issues/1707)

[2019-10-23 19:50] eloudsa commented on #49
Hi @IlgizZ
I have used another Dapp with web3 calls and I have the same effect :-(
So, you're right. It's not related to Drizzle.
Maybe a regression with Web3 (I'm using web3 1.2.2) and/or due to Ganache 2.1.1.
It's really frustrated not being able to display an understandable error message.

[2019-10-24 06:29] #49 closed, assigned to nobody

[2019-10-25 00:33] IlgizZ opened #50 "Access txHash through react hooks in pending status."
Hi!
I am using drizzle useCacheSend hook to call smart contract.
[code]
When transaction is signed I got the follow in TXObjects:
[code]
Is there any way to fetch txHash through hook [I see you use it in redux](https://github.com/trufflesuite/drizzle/blob/df7990062e0021469c9d068e3608eff72a6757a0/packages/store/src/contracts/contractsSaga.js#L69) on pending status?

[2019-10-27 11:11] swkim109 commented on #7
Same problem in Drizzle suite version 1.5.0, here is my SimpleStorage sample:

[code]
drizzleOptions has 3 events.

[code]

Main.js for Provider

[code]
MyStorage.js for Consumer
[code]
EventNotifier.js
[code]

Emitted only 1 event but EventNotifier says 3 Change events.

![console](https://user-images.githubusercontent.com/46621605/67633645-ae82e280-f8f5-11e9-89c1-77457fb94572.PNG)

[2019-10-30 11:56] eloudsa opened #53 "Updating documentation for react-plugin"
The documentation describing how to install and to use react-plugin is still related to the legacy version:
https://github.com/trufflesuite/drizzle/blob/develop/packages/react-plugin/README.md

Any plan to update it for Drizzle 1.5?

[2019-10-30 19:37] cds-amal commented on #53
Hi @eloudsa,

The documentation should be updated! I have a few items on my plate and marked this as a `good first issue` to encourage contributors. PRs welcome :)

[2019-11-01 06:00] cayblood commented on #53
Gotta admit that it is pretty difficult to get started with so much inconsistency between the box demo, the tutorials, the docs and the READMEs. Moving from the box demo to custom components is not very intuitive.

[2019-11-01 06:53] adrianmcli commented on #53
@cayblood 100% agreed. We are currently struggling to divide our capacity to keep these things up-to-date. We're working on it, but we know we still have a long way to go. This is why we definitely welcome any PRs if the community wants to help out!

[2019-11-01 14:24] cayblood commented on #53
Thanks @adrianmcli. The challenge is that you have a chicken-and-egg problem. Many of us are not sufficiently proficient in React to decipher the current code base and update all the relevant docs, and the code base is itself in a state of flux. My recommendation to you guys is to not accept any PRs from any contributor that don't also update ALL relevant docs. Each commit should maintain document

[2019-11-01 19:39] adamskrodzki opened #54 "this.$drizzleEvents.$on("drizzle/contractEvent" seems not to work"
Hi,

I used vue-drizzle truffle box and added to App.vue

        mounted: function() {
         // eslint-disable-next-line
        console.log("mounting works");

        this.$drizzleEvents.$on("drizzle/contractEvent", payload => {
                 // eslint-disable-next-line
                 console.log("event catched", payload);

        });

      }

but despite using transfer form (and sein

[2019-11-02 16:01] jimpeebles commented on #54
Hey @adamskrodzki ,

Assuming you are using [this](https://www.trufflesuite.com/boxes/drizzle-vue-box) box.

There's only one event that's set up by default, `StorageSet` on the `SimpleStorage` contract. You can open `drizzleOptions.js` and see where you can specify events for Drizzle to listen for. So the Simple Storage field is the only one that should generate an event when changing the value.

[2019-11-02 16:48] adamskrodzki commented on #54
thank You for guideline
from docs it was not clear to me that I need to specify in drizzleOptions.js  what events is app liestening to. I was testing on TutorialToken transer. Now it is all working. Thanks a lot.

[2019-11-02 23:45] cds-amal commented on #54
@adamskrodzki I'll close this issue now! Thanks @jimpeebles !

[2019-11-02 23:45] #54 closed, assigned to nobody

[2019-11-03 13:27] jimpeebles commented on #54
Thanks @cds-amal ! And thanks for the helpful feedback @adamskrodzki , glad everything is working for you now. I've made a PR to make that portion of the readme clearer for other users.

[2019-11-03 14:28] GiovanniCapizzi commented on #46
NodeJS just updated the LTS version, now we have 12.13.0 LTS in just few days 😆

[2019-11-04 12:21] cds-amal commented on #7
Hi @swkim109, Thank you for your detailed writeup, however this is a MetaMask issue, perhaps [you can comment there and give it a +1](https://github.com/MetaMask/metamask-extension/issues/6668)

[2019-11-04 16:34] cds-amal commented on #51
@jklepatch can you make this a draft PR through github? perhaps you'd have to close it and create a new one. I would like to encourage discussion with stakeholders on 41. (note didn't link as I suggested a new draft PR)

[2019-11-05 19:39] adrianmcli commented on #53
Great point @cayblood, we'll discussion your recommendations in our standup. Just to recap your points:

- make sure PRs always include updated docs
- make sure all tutorials and docs are generated from the same repo

attn: @cds-amal

[2019-11-05 20:08] friedhelmensch opened #56 "Error in block processing: TypeError: Cannot read property 'transactions' of null when using web3 fallback (infura)"
When using the web3 fallback (in my case infura). I am seeing an exception in the console

        Error in block processing:
        TypeError: Cannot read property 'transactions' of null
         at processBlock\$ (drizzle-store.js:17570)
         at tryCatch (drizzle-store.js:14312)
         at Generator.invoke [as \_invoke](drizzle-store.js:14531)
         at Generator.prototype.<computed> [as

[2019-11-05 20:11] adrianmcli commented on #46
@GiovanniCapizzi

I ran the following under Node `v12.13.0` on MacOS `10.14.6` (Mojave) and it worked fine:

[code]

That being said, I did get a similar error on `v13.0.1`:

[code]

However, this seems to be because of some libraries Web3.js is using. I've made an issue here: https://github.com/ethereum/web3.js/issues/3181

[2019-11-05 20:47] GiovanniCapizzi commented on #46
Maybe this is caused by the same web3.js which could use [this](https://github.com/barrysteyn/node-scrypt) deprecated module. I will try again updating my node version.

[2019-11-07 06:26] cds-amal commented on #56
Hi @friedhelmensch ,

Is there a truffle project associated with your reproduction? Drizzle needs to be configured to know what deployed contracts to connect to on the testnet. Can you please include those in the reproduction?

[2019-11-07 07:13] friedhelmensch commented on #56
hey @cds-amal,
I don´t have a truffle project directly associated with it but a contract on the main net.
I updated the example repo with the smart contract (on the main net).

https://github.com/friedhelmensch/drizzle-transaction-null-issue/commit/a8d4d006aca7a7fbc59370194cff898784ce04aa

[2019-11-07 22:08] jimpeebles commented on #55
@cds-amal This should be all set!

[2019-11-13 14:23] MrRefactoring commented on #56
@friedhelmensch thanks for your example. Your error is reproducing.

I walked through the debugger and found that the event about the new block comes a little earlier than it can be received from the network. It’s hard to say why this is happening.

Probably, this may be a mistake on the part of infura. I found a similar [issue](https://github.com/ethereum/web3.js/issues/2402) in the web3 reposito

[2019-11-19 18:41] johnda98 opened #58 "A npmv12 issue ? can't install drizzle 'npm install drizzle' pls help guys.. I'm aware tests do not work w nodev12"
DevEnv ubuntu1604
"johnda@ymirjda:~ truffle version
Truffle v5.1.0 (core: 5.1.0)
Solidity v0.5.12 (solc-js)
Node v12.8.0
Web3.js v1.2.2
johnda@ymirjda:~

"

ok.. .here's the prob

johnda@ymirjda:~/drizzpando/client$ npm install drizzle
npm WARN deprecated tar.gz@1.0.7: ⚠️  WARNING ⚠️ tar.gz module has been deprecated and your application is vulnerable. Please use tar module instead: https://npmjs.

[2019-11-21 08:25] adrianmcli commented on #58
`npm install drizzle` is no longer supported, it's now `npm install @drizzle/store`.

[2019-11-21 13:49] johnda98 commented on #58
is the website changed .. tutorials etc

Is there a complete listing for the index.js and the other .js  files that
are edited in the tutorial ?    the tutorial metions the additions but does
not tell where to put them in the components.

I went back to lower than NodeV12  and it all seems to work fine now

is the Node12  issues with test  and other issues

*John D Allen.*

*Leveridge Systems INC.

[2019-11-21 15:19] adrianmcli commented on #58
@johnda98 We made an effort to update documentation (as you can see on the [README](https://github.com/trufflesuite/drizzle/blob/develop/README.md) of this current repo) and tutorials ([here](https://www.trufflesuite.com/tutorials/getting-started-with-drizzle-and-react) and [here](https://www.trufflesuite.com/tutorials/drizzle-and-contract-events)).

Please let us know if we missed it somewhere.

[2019-11-21 15:22] johnda98 commented on #58
you guys rock !  :-)

*John D Allen.*

*Leveridge Systems INC.   *

*T +1 417 849 0705 ** CST  | john.allen@leveridgesystems.com
<john.allen@leveridgesystems.com>  | https://www.leveridgesystems.com
<https://www.leveridgesystems.com> | linkedin.com/in/johndallen1
<http://linkedin.com/in/johndallen1> | skype john.allen_67
https://www.yourhashgraphtoken.com <https://www.yourhashgraphtoken.com>*

Thi

[2019-11-22 16:02] johnda98 commented on #58
https://www.trufflesuite.com/tutorials/getting-started-with-drizzle-and-react

*John D Allen.*

*Leveridge Systems INC.   *

*T +1 417 849 0705 ** CST  | john.allen@leveridgesystems.com
<john.allen@leveridgesystems.com>  | https://www.leveridgesystems.com
<https://www.leveridgesystems.com> | linkedin.com/in/johndallen1
<http://linkedin.com/in/johndallen1> | skype john.allen_67
https://www.yourhash

[2019-11-23 03:01] johnda98 commented on #58
"✔ Preparing to download
✔ Downloading
✔ Cleaning up temporary files
⠋ Setting up boxnpm WARN drizzle-box@1.0.0 No description

npm WARN deprecated fsevents@1.2.9: One of your dependencies needs to
upgrade to fsevents v2: 1) Proper nodejs v10+ support 2) No more fetching
binaries from AWS, smaller package size
npm WARN deprecated @types/bignumber.js@5.0.0: This is a stub types
definition for bignu

[2019-11-23 03:03] johnda98 commented on #58
Adrian.. I think this is it  users are installing npm wrong

https://github.com/ionic-team/ionic-cli/issues/3127

*John D Allen.*

*Leveridge Systems INC.   *

*T +1 417 849 0705 ** CST  | john.allen@leveridgesystems.com
<john.allen@leveridgesystems.com>  | https://www.leveridgesystems.com
<https://www.leveridgesystems.com> | linkedin.com/in/johndallen1
<http://linkedin.com/in/johndallen1> | skype

[2019-11-23 03:09] johnda98 commented on #58
ok i got this.. i get it now :-)

"
┌──────────────────────────────────────────────────────────────────────┐
│                       npm update check failed                        │
│                 Try running with sudo or get access                  │
│                 to the local update config store via                 │
│ sudo chown -R $USER:$(id -gn $USER) /home/leveridgesystems98/.config │

[2019-11-25 03:24] cayblood opened #59 "How to use multi call approach without react hooks?"
On the `react-plugin` readme, there is a multi call example with hooks. I'm wondering how to do this with `cacheCall`. All the `cacheCall` examples only call a single contract method. What if you need to take the result of one call and use the response as parameters for another call? Here is the example:

[code]
How would you do this without react hooks, using the regular `cacheCall` approach?

[2019-11-25 08:20] adrianmcli commented on #59
@cayblood In the hook, you can see that hey basically call `cacheCall` multiple times internally: https://github.com/trufflesuite/drizzle/blob/develop/packages/react-plugin/src/hooks/create-use-cache-call.js#L33

At present, there's nothing built-in to Drizzle that does this for you. So in effect, you'd need to re-write the logic from `create-use-cache-call.js` where `isFunction` is `true`.

[2019-12-03 06:04] tung-eh opened #60 "Initial contract"
According to the drizzle docs, I can initial contract with object like
[code]
How can I get the `web3` instance to do it. As I know, I can get the web3 instance from `dizzleContext` but this object need to be create to pass to `DrizzleContext.Provider` - when `drizzleContext` is not available.

I'm new to `Ethereum` and `drizzle`, sorry if I misunderstood anything.

[2019-12-03 11:59] 0xTimepunk opened #61 "Drizzle store is not unsubscribed on component unmount"
Hello,

I am developing a dApp that has two layouts, a login and the app layout (Main). The idea is that the user lands on the login screen and can browse some information without needing to login on the dApp. Since there isn't a method to trigger the metamask pop-up and for the UX to be non intrusive, I had to put the DrizzleContext component deeper in the render tree, as parent of the Main compo

[2019-12-04 20:04] adrianmcli commented on #60
If you want to initialize a contract in that method, you would have to instantiate your own Web3.js object (because as you say, there is no `web3` instance at the time of initialization). This is why it's recommended to use the mainstream approach of just passing in the Truffle artifact.

Alternatively, you can do this asynchronously (i.e. waiting until the `drizzleContext` is available) so you do

[2019-12-04 20:19] cds-amal commented on #61
Hello @j-mars, can you share a repo of this so we can investigate? Thank in advance!

[2019-12-05 02:58] tung-eh commented on #60
Yeah, I followed the second way - asynchronously init the contract after component mounted. Thank you.

[2019-12-05 02:58] #60 closed, assigned to nobody

[2019-12-10 11:46] 0xTimepunk commented on #61
Hello @cds-amal

Thanks for reaching out. Unfortunately the repo I am working on is private and it cannot be shared for the time being.
However I can give some detail on the structure of my dApp and some more code so maybe it could be reproduced on your side?
In the meantime, if that is not sufficient to reproduce I can work to create a side repo with minimal stuff that allows the debug of this is

[2019-12-10 14:40] adrianmcli commented on #61
This would be most appreciated!

[2019-12-31 10:56] NTP-996 commented on #53
Is this issue still available? i want to work on this

[2019-12-31 21:55] adrianmcli commented on #53
@NTTMai yes! we have shifting priorities at Truffle and sometimes we don't have enough bandwidth to take care of all our public repos, so any help from the community is always welcome!

[2020-01-02 21:05] adrianmcli commented on #62
looks good, thanks!

[2020-01-08 13:15] 0xrubes opened #64 "this.setState() triggers TypeError: this.context.drizzle.web3.utils is undefined"
Disclaimer, Im not very familiar with React, but I would really appreciate any input.
However, any use of `this.setState()` in `App.js` throws me this error. Maybe I am just missing a file somewhere?
For example, if I execute this in `componentDidMount()`:

`this.setState({"drizzle": drizzle})`

I receive this (1/4 error):
![utils is undefined](https://user-images.githubusercontent.com/44226748/71

[2020-01-22 17:40] ghost commented on #53
Hi there, I'd like to work on this but i'm not sure if @NTTMai is in progress.

If so, would it be appropriate to replace the documentation for the legacy api with a link to ~~the legacy repo's readme~~ a LEGACYAPI.md? Thanks.

[2020-02-03 15:50] alanarvelo opened #65 "update accounts by listening to web3 changes"
Related to [Issue #48](https://github.com/trufflesuite/drizzle/issues/48) (Polls->account: intempestive refresh) though not experiencing intempestive refresh thus making a new Issue.

During development, polling accounts saturates the console with frequent state refreshes. Adjusting polling frequency when you change from testing DApp as a user (high frequency, 1.5s) to debugging (lower frequency,

[2020-02-04 22:26] hoonsubin opened #66 "IDrizzleOptions in TypeScript cannot read contract.json"
Error message:

    Failed to compile
    /home/hoonkim/Projects/ethereum-lockdrop/app/src/helpers/lockdrop/EthereumLockdrop.ts
    TypeScript error in /home/hoonkim/Projects/ethereum-lockdrop/app/src/helpers/lockdrop/EthereumLockdrop.ts(11,14):
    Type '{ "contractName": string; "abi": ({ "inputs": { "internalType": string; "name": string; "type": string; }[]; "payable": boolean; "stateMutabilit

[2020-02-06 00:09] alanarvelo commented on #20
Hi @jklepatch @cds-amal @DiscRiskandBisque,

Thanks for the above discussion and plan for this feature. I made some progress stopping the `enable()` with a flag passed via `drizzleOptions.web3`, see it in this [PR](https://github.com/trufflesuite/drizzle/pull/68).

However, I am not sure how to allow read-only access to contracts when web3 is undefined. Web3 is used to get the networkId and accoun

[2020-02-10 01:35] alanarvelo opened #69 "Ethereum provider injected by MetaMask acts differently when injected to a Dapp vs an static-website or web2 app."
![eth_provider_error](https://user-images.githubusercontent.com/29428052/74114732-bcddcd00-4b79-11ea-9a20-0b30b3be50bd.png)

Calling `await ethereum.send('eth_chainId')` — part of MetaMask's New API, see [here](https://medium.com/metamask/breaking-changes-to-the-metamask-inpage-provider-b4dde069dd0a) — on the console of a regular website resolves nicely (left window), while calling it in a Drizzle

[2020-02-11 08:37] krzysu commented on #63
@adrianmcli is there any official way to contribute to your documentation as current state is not usable at all. Can we merge at least this PR soon or extend it to update other readmes in the project?

[2020-02-14 23:22] MalloryLeeWong opened #70 "Change action types in store to constants"
All of the action types in the Drizzle store that are written as strings can be changed to constants. This could reduce the risk of bugs from typos in action type names, especially given the large number of action types in the store.

The action type constants can also be saved in a more standardized way in separate 'constant.js' files under their respective sub-reducer folder in the store. This c

[2020-02-16 06:00] cds-amal commented on #65
Hi @alanarvelo . We'll want to coordinate this when the new MM changes arrives. The account change is resolved in the [drizzle-middleware](https://github.com/trufflesuite/drizzle/blob/develop/packages/store/src/drizzle-middleware.js#L9-L22). My hunch is to modify the accounts saga to dispatch the appropriate event when the EOA is updated.

[2020-02-25 13:21] stephen101 opened #73 "Dynamic contracts - uncaught at initializeDrizzle TypeError: Cannot read property 'initialized' of undefined"
I am trying to load existing Rinkeby contracts dynamically to use inside my drizzle app but I keep getting `"TypeError: Cannot read property 'initialized' of undefined"`
## Current setup

* I am using Metamask connected to Rinkeby
* I can successfully display account data using AccountData

## The problem

I am trying to load the Rinkeby WETH contract (located at 0x2fcc4dba284dcf665091718e4d0dab53

[2020-02-29 13:30] #70 closed, assigned to nobody

[2020-02-29 13:55] ghost commented on #73
Following up with the fix. PR to update the docs coming soon.

When dynamically updating the drizzle store, the store's `initialized` value will be true but the dynamically added contract may not be in store yet. To check whether the added contract has made it into the drizzle store, users can add this conditional: `if(initialized && drizzleState["WETH"])`.

When the drizzle store updates with the

[2020-02-29 14:04] cds-amal commented on #73
Thanks @xMNG! Look forward to your PR.

[2020-02-29 14:13] nicholaspai opened #74 "Incompatibility with Solidity 0.6 ABI's"
0.6 ABI's are slightly different from 0.5. For example, methods in 0.6 no longer have `constant` or `payable` properties in the JSON.

One consequence is that `useCacheSend` hooks don't work (resulting in errors at run-time: `f.cacheSend is not a function`)

[Initial thread on Spectrum](https://spectrum.chat/trufflesuite/drizzle/hi-all-has-anyone-gotten-drizzle-to-play-nicely-with-solc-0-6~4f025de

[2020-03-02 10:15] am-kra4un commented on #66
have the same trouble

[2020-03-02 22:33] adrianmcli commented on #66
Looks like the ABI produced is missing the following properties: `constant`, `name`, `outputs`.

This is probably where the problem lies: https://github.com/trufflesuite/drizzle/blob/develop/packages/store/types/IContract.d.ts#L1-L17

@hoonsubin @am-kra4un
Can I ask which version Solidity compiler you guys are using? And also Truffle version if possible.

[2020-03-02 22:58] nicholaspai commented on #74
@cds-amal : In 0.6, you can replace checking for whether a function is `constant` with whether its `stateMutability` property is `view` or `pure`. Looks like you can change this in the `store` package in `src/contractStateUtils`, `src/DrizzleContract` and `types/IContract.d.ts`.

[docs](https://solidity.readthedocs.io/en/v0.5.3/abi-spec.html#json)

[2020-03-03 03:01] hoonsubin commented on #66
@adrianmcli Thank you for your reply.

Truffle v5.1.15 (core: 5.1.15)
Solidity - 0.5.15 (solc-js)
Node v13.8.0
Web3.js v1.2.1

I've made a temporary workaround by wrapping the contract json `as any`

[2020-03-03 07:01] am-kra4un commented on #66
@adrianmcli, you're right. This is the first item of the abi array, that caused a problem
`{
   "inputs": [],
  "payable": false,
  "stateMutability": "nonpayable",
  "type": "constructor"
},`

Truffle v5.1.11 (core: 5.1.11)
Solidity v0.5.16 (solc-js)
Node v10.16.0
Web3.js v1.2.1

[2020-03-03 14:17] adrianmcli commented on #66
We can probably change the types to make those optional for now. I'll happily merge a PR for that if you would like to provide one.

[2020-03-03 15:54] adrianmcli commented on #75
Thanks!

[2020-03-03 20:57] MalloryLeeWong opened #77 "Incorrect action type reference in Drizzle store"
After opening Drizzle, and then running `yarn` to build, the console outputs the following warning message related to the Drizzle store:

`WARNING in ./src/DrizzleContract.js 114:16-52
"export 'SEND_CONTRACT_TX' (imported as 'TransactionsActions') was not found in './transactions/constants'
@ ./src/Drizzle.js
@ ./src/index.js`

The issue is that in the DrizzleContract.js file in the store, an acti

[2020-03-04 00:00] ghost commented on #74
Hi there, @MalloryLeeWong and I are working on a PR that incorporates this and additional changes to make it easier to test for changes going forward. We also detected an edge case with the ABI spec that requires more testing.

The timeline is EOW or beginning of next week latest.

[2020-03-04 17:06] #77 closed, assigned to nobody

[2020-03-19 15:39] hbarcelos commented on #56
Any updates here?
I'm having the same issue.

[2020-03-23 16:23] adrianmcli commented on #63
lgtm, I missed this previously. Thanks!

[2020-04-07 01:56] cds-amal commented on #7
One workaround is to use a middleware to filter out consecutive duplicate error events until this is resolved upstream.

[code]

[2020-04-11 17:26] nanthanwa opened #80 "ContractForm is broken when compile a contract with solidity 0.6"
`ContractForm` component works fine with solidity 0.5 but it has an issue when I use with solidity 0.6

## Expected Behavior
Can send the data to the blockchain.

## Current Behavior
It throws an error
[code]

## Steps to Reproduce

1. Compiles a contract with solidity 0.6.
2. Deploy to ganache.
3. Use `ContractForm` on react application.
4. Click "Submit" button

## Context (Environment)
Truffle

[2020-04-11 17:43] adrianmcli commented on #80
Solidity 0.6 has a lot of breaking changes and unfortunately we currently don't have the bandwidth to update all our tools to work with it for now. Apologies for the inconvenience caused.

[2020-04-15 08:57] SebDigital commented on #56
Same issue here if trying to connect Wallet other than Metamask
Project is on Ropsten Test network
https://immutablepost.com/
If you click on Connect Wallet and choose Fortmatic for example
Thanks!

[2020-04-15 09:05] SebDigital commented on #56
Actually, not sure but I have added:
syncAlways:true,
To the Drizzle option and it seems the error is not showing anymore..

[2020-04-16 01:27] Draichi opened #81 "Question about the vue plugin documentation"
Is there any example of how can i configure my store on main.js (or in my store folder) ?

in the readme the only information that i have is this:

[code]

Can you give me an example of how to this initial state should look like?

thanks

[2020-04-17 06:38] cds-amal commented on #81
Hi @Draichi . The Vuex Store maintains app state as a plain old JS object. Drizzle will maintain its own part of state but the rest of the app state is up to the developer to define.  It would depend on how your app defines its own internal state. Take a look at the [Vuex guide](https://vuex.vuejs.org/guide/state.html) for how state works

[2020-04-17 14:49] Draichi commented on #81
@cds-amal thanks for you answer

My question was if I have to store the contract instance with a specific name so drizzle can know it. but it seems that drizzle will do that, drizzle itself will store a contract instance on my vuex state ?

thanks again

[2020-04-17 15:11] cds-amal commented on #81
You’re correct. The Vue drizzle adapter will insert its contracts' instances into Vuex from `drizzleOptions`.  The Vuex object should be initialized as necessary for the Vue app.

[2020-04-17 17:37] #81 closed, assigned to nobody

[2020-04-23 14:02] molecula451 opened #82 "500 Internal Resource when yarning"
<code> Error: https://codeload.github.com/web3-js/WebSocket-Node/tar.gz/905deb4812572b344f5801f8c9ce8bb02799d82e: Request failed "500 Internal Server Error" </code>

[2020-04-23 15:13] nicholaspai commented on #74
Just wanted to check in here and see if any updates? Looks related to #80

[2020-05-02 12:44] srinivasmangipudi commented on #80
I am running into the same issues. I have used OpenZeppelin's implementation of ERC721 contracts, which all use solidity "0.6.2".

I can compile with truffle using the solc compiler with version "0.6.2" and can migrate my contracts, interact with them using the command line and call transactions and everything works smoothly.

But as soon as I try to use the drizzle-react-compnonents, it starts fa

[2020-05-03 16:36] tigersze opened #83 "Problem with react-native and drizzle"
I have recently tried to do the drizzle and [react native tutorial ](https://www.trufflesuite.com/tutorials/drizzle-and-react-native). However, I don't know whether it is the problem of RN or the tutorial is too old (wrote in 31-01-2019) , I follow all the procedure and still cannot get the app on my android phone. I have stuck for almost a month for finding the config and setting on the internet.

[2020-05-04 20:04] caseyjkey opened #84 "VM Exception while processing transaction: out of gas"
* [x]  I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.
---
# Issue
Calling `cacheSend` without gas specified causes this error:
[code]

If I am using Buidler EVM for my testnet, both functions work fine without gas specified. However, when I go to use truffle's testnet, `truffle develop`, I start getting the out of gas errors. It seems like

[2020-05-04 20:12] adrianmcli commented on #84
`truffle develop` uses [Ganache](https://github.com/trufflesuite/ganache-core) under the hood and Web3.js for [calling](https://github.com/trufflesuite/drizzle/blob/develop/packages/store/src/contracts/contractsSaga.js#L130) methods. It sounds like this is an issue of Web3.js' default gas as well as Ganache.

[2020-05-04 20:18] caseyjkey commented on #84
You're right, it is a Ganache setting, but I don't know how to fix it. I read [here](https://www.reddit.com/r/ethdev/comments/94dkgc/where_does_drizzle_get_its_default_gas_value_from/) that "[Drizzle] will fall back to values set by your wallet, like MetaMask, or the client (geth, parity, etc.)." but then he goes on to say, "...the gas settings in the truffle.js file only affect migrations."

I on

[2020-05-05 06:23] caseyjkey commented on #84
Should I be estimating the cost of the transaction within my dApp, and then pass that estimation as the gas limit for the transaction?

Example:
[code]

[2020-05-05 22:10] jmlon opened #85 "AccountData not updating when the user switches accounts in Metamask"
When I switch accounts in Metamask, the information in both, **AccountData** and **drizzleState** still reflect the information of the moment the page was rendered for the first time.
The following component shows how to reproduce the problem and see the right values as returned by the web3 API.

[code]

[2020-05-08 18:21] alexfisher commented on #85
Just familiarizing myself with Drizzle box over the last week and it looks like it just makes a direct web socket connection to the local blockchain and doesn't check for another web3 provider that's already existing?

[2020-05-08 18:23] alexfisher commented on #85
This led me to discover the [LoadingContainer](https://github.com/trufflesuite/drizzle/pull/9), but it looks like it's still not available outside of the legacy version of Drizzle? :-(

[2020-05-10 18:46] alexfisher commented on #85
Wow, so the lockdown must have me brain dead or this just wasn't obvious.  I had to comment out the customProvider line in drizzleOptions.js to get it to start attempting to connect to Metamask.

[2020-05-20 03:26] HankiGreed commented on #58
Hey, The official website of drizzle on the homepage still says `npm install drizzle --save`. Shouldn't that be changed too ?

[2020-05-21 20:29] dabruhce opened #86 "drizzleOptions clarrification"
Basically with the drizzleOptions.js file I assume that I should be able to listen to contract events if I include them in drizzleOptions.  The contract seems to load fine, but when I trigger the event it never gets picked up. Is my assumption incorrect?

In scenario below events for MyContract work fine, but I never see Name contract fire events when they fire.

[code]

[2020-05-23 14:37] dabruhce commented on #86
ended up listening w/ web3 and passing messages around w/ store and handled then in middleware

[2020-05-23 22:17] cds-amal commented on #86
Hi @brucedotio,

Sorry for the late response. We have a [tutorial that shows how to work with events](https://www.trufflesuite.com/tutorials/drizzle-and-contract-events). It is similar in concept with your solution. I will update out documentation to explain how to work with events.

[2020-05-23 22:20] cds-amal commented on #85
No worries @alexfisher . I was doing that before the lockdown :) I'm going to go ahead and close this issue.

[2020-05-23 22:20] #85 closed, assigned to nobody

[2020-05-23 22:22] cds-amal commented on #82
Sorry for the late response @molecula451. Is this still an issue?

[2020-05-23 23:29] molecula451 commented on #82
Probably yes. Will re-test

[2020-05-24 12:34] LorenzoZaccagnini opened #87 "Drizzle cacheSend outputs “cacheSend is not a function” error, but the tx works when using send"
I'm using Drizzle, react-hooks and the lastest openzeppelin-solidity in my new open source project, but cacheSend outputs always "cacheSend is not a function"

This line of code with **send** works as expected

[code]

Instead using **cacheSend** returns an error **"cacheSend is not a function"**

[code]

**The issue does not appear using @openzeppelin/contracts@2.5.1 (pragma 0.5.0) instead of the

[2020-05-24 14:04] cds-amal commented on #87
Thanks for the detailed write up and repo @LorenzoZaccagnini!

[2020-05-25 12:44] cds-amal commented on #74
Hey @nicholaspai. Apologies for the lack of response. Things have been hectic on all fronts. I'll get the ball rolling this week.

[2020-05-29 16:23] #1 closed, assigned to nobody

[2020-05-29 16:58] DiscRisknBisque commented on #32
Thinking through this it seems like we need a middleware modification to track network changes and update contracts accordingly.

We may also want to consider a unified source of truth around contract info that marries contracts passed in via `drizzleOptions` with the contracts added via `addContract`.

[2020-05-30 00:54] maasoomraj commented on #84
I had the same issue but now its fixed.
When using `web3` the default gas usage is set to 90000 which is not enough for some transaction. This can be conquered by setting the gas while sending transaction.

For eg.
await this.state.instance.methods. cacheSend().send({ from : this.state.account, gas : 1000000})

[2020-05-30 23:24] hellowodl opened #89 "sendArgs not available in @drizzle/vue-plugin's drizzle-contract-form"
In the React component an extra property called sendArgs is available, which allows one to alter the options object given to Web3.

The same functionality isn't available in the Vue plugin.

[2020-05-31 07:51] cds-amal commented on #89
Hi @hellowodl ,

Can you try `methodArgs` for the Vue plugin?

https://github.com/trufflesuite/drizzle/blob/df7990062e0021469c9d068e3608eff72a6757a0/packages/vue-plugin/src/components/ContractForm.vue#L91-L93

[2020-05-31 10:08] youngkidwarrior opened #90 "Drizzle react plugin for React Native"
The legacy codebase has this paradigm setup for RN

[code]

How compatible is using Drizzle Context with store.subscribe and is it necessary?

[2020-06-01 17:57] hellowodl commented on #89
Hi Amal.

I'm aware of methodArgs, though methodArgs is preserved for passing thr
function arguments, whereas sendArgs in React (from my understanding)
allows one to mutate the Web3 transaction options.

On Sun, May 31, 2020, 2:52 AM Amal Sudama <notifications@github.com> wrote:

[2020-06-03 00:54] jensendarren opened #91 "How can I inject a custom web3 provider into the drizzle app when using Nightwatch e2e tests?"
I have setup a basic e2e test with a Drizzle VueJS app. It appears that when the tests run drizzle uses the fallback option for connecting to the blockchain using web sockets (ws://127.0.0.1:8545).

I want to use a custom `PrivateKeyProvider` for the tests so that the test run will commit transactions to the blockchain without running out of gas.

How can I tell drizzle to use this custom provider